<template>
  <div class="accountsUserProfile card" v-if="userProfile"
    :class="{raised: raised}">

    <div class="media">

      <AccountsUserAvatar
        dark
        :picture="userProfile.picture"
        @pictureClicked="pictureClicked"
      />

      <h2 class="username">
        {{userProfile.username}}
      </h2>
      <h3 class="email">
        {{userProfile.email}}
      </h3>
    </div>

    <div class="content">
      <slot>
        <AccountsServicesList
          :services="services"
          @serviceSelected="selectService"
        />
      </slot>
    </div>

    <div class="actions">
      <slot name="actions">
        <AccountsMdcButton
          inverted
          name="profile"
          class="userProfileButton"
          @click="showProfile"
        >
          {{ gettext('Profile') }}
        </AccountsMdcButton>

        <AccountsMdcButton
          red
          name="logout"
          class="logoutButton"
          @click.once="performLogout"
          >
            {{ gettext('Logout') }}
        </AccountsMdcButton>
      </slot>
    </div>
  </div>
</template>

<script>
import FieldValidatorsMixin from '@paiuolo/pai-vue-mixins/mixins/FieldValidatorsMixin'
import ErrorResponseMixin from '@paiuolo/pai-vue-mixins/mixins/ErrorResponseMixin'
import GettextMixin from '@paiuolo/pai-vue-gettext/mixins/GettextMixin'

import AccountsMdcButton from '../../../elements/button/accounts/AccountsMdcButton'
import AccountsServicesList from '../../service/accounts/AccountsServicesList'
import AccountsUserAvatar from './AccountsUserAvatar'


export default {
  name: 'AccountsUserProfile',
  mixins: [
    GettextMixin,
    FieldValidatorsMixin,
    ErrorResponseMixin
  ],
  components: {
    AccountsMdcButton,
    AccountsUserAvatar,
    AccountsServicesList
  },
  props: {
    profile: {
      type: Object,
      default: null
    },
    services: {
      type: Array,
      default () {
        return []
      }
    },
    raised: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      userProfile: this.profile
    }
  },
  watch: {
    profile: function (profile) {
      if (profile) {
        this.userProfile = profile
      }
    }
  },
  methods: {
    pictureClicked () {
      this.$emit('pictureClicked')
    },
    selectService (service) {
      this.$emit('serviceSelected', service)
    },
    showProfile () {
      // window.location.href = '/profile/update/'
      this.$emit('showProfile')
    },
    performLogout () {
      this.$emit('performLogout')
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../../../scss/accounts.theme";

@import "@material/elevation/mdc-elevation";
@import "@material/icon-button/mdc-icon-button";

.accountsUserProfile {
  .actions {
    margin-top: 12px;
  }

  .username, .email {
    @include accounts-font;
    text-align: center;
  }

  .email {
    margin: 12px 0 16px;
  }

  .content {
    overflow: hidden;
  }

  .username {
     text-align: center;
     margin: 16px 0 12px;
  }
  .userServicesList {
    margin: 24px 0;
  }

  .userProfileButton {
    float: left;
  }
  .logoutButton {
    float: right;
  }

}.card {
  position: relative;
  background-color: $secondary;
  color: $on-secondary;
  padding: 24px 16px 16px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
}.raised {
  @include mdc-elevation(2);
}
</style>
