<template>
  <div class="accountsUserProfileUpdate card" v-if="userProfile"
    :class="{raised: raised}">

    <div class="media">
      <AccountsUserAvatar
        dark
        :picture="userProfile.picture"
        @pictureClicked="imageClicked"
      />

      <h2 class="username">
        {{userProfile.username}}
      </h2>
    </div>

    <div class="content">
      <div>
        <div class="userProfileField" v-for="(item, index) in profileFields" :key="index">
          <div class="info">
            <div class="label">
              {{ getFieldName(item) }}:
            </div>
            <div class="field">
              <div class="value">
                {{ getProfileFieldValue(item) }}
              </div>
            </div>
          </div>
          <div class="action">
            <button
              class="mdc-icon-button material-icons"
              aria-hidden="true"
              aria-pressed="false"
              v-if="canUpdate"
              name="update"
              @click="askUpdateField(item)">edit</button>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FieldValidatorsMixin from '@paiuolo/pai-vue-mixins/mixins/FieldValidatorsMixin'
import ErrorResponseMixin from '@paiuolo/pai-vue-mixins/mixins/ErrorResponseMixin'
import GettextMixin from '@paiuolo/pai-vue-gettext/mixins/GettextMixin'

import AccountsUserAvatar from './AccountsUserAvatar'


export default {
  name: 'AccountsUserProfileUpdate',
  mixins: [
    GettextMixin,
    FieldValidatorsMixin,
    ErrorResponseMixin
  ],
  components: {
    AccountsUserAvatar
  },
  props: {
    profile: {
      type: Object,
      default: null
    },
    canUpdate: {
      type: Boolean,
      default: true
    },
    raised: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      updateEnabled: false,
      userProfile: this.profile,
      updateProfileMessage: this.gettext('Profile'),

      emailError: null,
      userEmail: null,

      usernameError: null,
      userUsername: null,

      passwordError: null,
      userPassword: null,
      userPassword2: null,

      userFirstName: null,
      userFirstNameError: null,

      userLastName: null,

      userDescription: null,

      userPosition: null,
      userPositionError: null,

      userPictureError: null,
      userPicture: null,

      updateError: null,

      profileFields: [
        'email', 'password', 'first_name', 'last_name', 'address', 'description'// , 'birthdate'
      ]
    }
  },
  watch: {
    profile: function (profile) {
      if (profile) {
        this.userProfile = profile
      }
    }
  },
  methods: {
    getFieldName (f) {
      if (f === 'email') {
        return this.gettext('E-mail')
      } else if (f === 'first_name') {
        return this.gettext('Name')
      } else if (f === 'last_name') {
        return this.gettext('Last name')
      } else if (f === 'description') {
        return this.gettext('Description')
      } else if (f === 'birthdate') {
        return this.gettext('Birthdate')
      } else if (f === 'address') {
        return this.gettext('Address')
      } else if (f === 'password') {
        return this.gettext('Password')
      } else {
        return ''
      }
    },
    getProfileFieldValue (f) {
      if (f !== 'password') {
        return this.userProfile[f]
      } else {
        return '********'
      }
    },
    askUpdate () {
      this.$emit('askUpdateProfile', this.userProfile)
    },
    askUpdateField (field) {
      this.$emit('askUpdateField', field)
    },
    imageClicked () {
      this.askUpdateField('picture')
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../../../scss/accounts.theme";

@import "@material/theme/variables";
@import "@material/elevation/mdc-elevation";
@import "@material/icon-button/mdc-icon-button";

.accountsUserProfileUpdate {
  @include mdc-elevation(2);

  .media {
    .username {
     @include accounts-font;
     text-align: center;
     margin: 12px 0 16px;
    }
  }

  .content {
    padding-left: 12px;

    .userProfileField {
      @include accounts-font;
      position: relative;
      margin-bottom: 4px;
      text-align: left;

      .info {
        width: 80%;
        float: left;

        .label {
          font-weight: bold;
        }

        .value {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
      .action {
        width: 20%;
        float: left;

        .material-icons {
          color: #4e4e4e;
          margin-left: 16px;
          float: right;
        }
      }
    }
  }
}.card {
  position: relative;
  background-color: $secondary;
  color: $on-secondary;
  padding: 16px 8px 8px;
  border-radius: 4px;
  box-sizing: border-box;
  overflow: hidden;
}.raised {
  @include mdc-elevation(2);
}
</style>
