<template>
  <div
    ref="accountsUserAvatar"
    class="accountsUserAvatar"
    :class="{dark: dark}"
  >
    <div
      ref="picture"
      class="roundPicture"
      :style="pictureStyle"
      @click="clicked">
      <i class="material-icons" v-show="picture === null">
      person
      </i>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AccountsUserAvatar',
  props: {
    picture: {
      type: String,
      default: null
    },
    dark: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    pictureStyle () {
      let style = {}
      if (this.picture) {
        style['background-image'] = 'url(\'' + this.picture + '\')'
      }
      return style
    }
  },
  methods: {
    clicked () {
      this.$emit('pictureClicked', this.picture)
    }
  }
}
</script>

<style lang="scss">
@import "../../../../scss/accounts.theme";

.accountsUserAvatar {

  cursor: pointer;

  .roundPicture {
    display: block;
    margin: 0 auto;
    border-radius: 999px;
    width: 96px;
    height: 96px;
    line-height: 88px;
    text-align: center;
    background-color: $secondary;
    background-repeat: no-repeat;
    background-size: cover;

    .material-icons {
      font-size: 88px;
      color: $on-secondary;
    }
  }
}.dark {
  .roundPicture {
    .material-icons {
      color: #222;
    }
  }
}

</style>
