<template>
<path d="M0,0,0,64,64,64,64,0,0,0zm40.906,6.75c2.7856-0.04593,5.7938,0.50526,8.75,2.0625,6.4363,3.3903,10.116,11.538,10.312,16.25,0.40442,9.7078-4.6107,16.525-11.344,21.969,0,0-3.1404-1.3933-4.8125-2.75,6.6723-5.0799,12.362-12.576,9.9375-21.812-0.79339-3.0221-4.7552-9.934-12.781-9.8438-8.209,0.09215-11.158,6.8727-11.938,9.8438-1.5703,5.9822,0.42307,12.857,7.7812,19.406,5.8572,5.2129,11.688,7.9448,15.156,9.25,1.6035,0.6035,2.212,2.5303,1.2812,3.9688l-0.03125,0.0625c-0.68006,1.051-1.9645,1.5089-3.1562,1.125-1.8483-0.59576-4.8285-1.7388-8.4688-3.8125-3.7756,2.34-8.334,4.8438-10.625,4.8438-2.5443,0-27.908-10.644-26.938-28.281,0.68888-12.524,11.06-15.79,18.75-14,0,0-1.2716,1.5689-1.9688,4.7188-3.724-0.848-9.169-0.584-11.311,7.031-4.2203,15.006,19.492,25.435,21.469,25.344,1.535-0.071,3.673-1.511,5.843-2.875-7.549-5.487-14.445-13.506-14-24.188,0.304-7.295,3.349-12.16,7.407-15.062,2.025-1.4488,6.045-3.1735,10.687-3.25z"/>
</template>
