<template>
  <div
    ref="container"
    class="rumor-level-trend"
    :class="{dark: dark, 'hide-icons': hideIcons}"
    >

    <LoadingBox
      v-if="loading && !hideLoader"
      class="loading-box">
    </LoadingBox>

    <LoginRequiredMask
      v-if="!hideLoginMask && !loading"
      :already-logged-in="userProfile !== null"
      :login-url="loginUrl" />

    <ErrorModal
      v-if="apiError || notAuthorized"
      opened
      :type="(notAuthorized || noResults) ? 'warning' : 'error'"
      :content="notAuthorized ? gettext('Service is not enabled') : noResults ? '' + subject + ' / ' + topic + '<br/>' + gettext('No results.') : gettext('Error contacting server, try later.')"
      @refresh="getEntities()" />

    <highcharts class="chart"
      v-if="showChart && chartOptions != null" ref="chart" :options="chartOptions"
      :callback="highchartsCallback"/>

  </div>
</template>

<script>
/**
 * RumorLevelTrend
 * 
 */

import LoadingBox from '../../../elements/loader/LoadingBox'
import ErrorModal from '../../../elements/modal/ErrorModal'
import LoginRequiredMask from '../../user/LoginRequiredMask'

import UserRumorsMixin from '../UserRumorsMixin'
import RumorElementMixin from '../RumorElementMixin'


export default {
  name: 'RumorLevelTrend',
  mixins: [
    UserRumorsMixin,
    RumorElementMixin
  ],
  components: {
    LoadingBox,
    ErrorModal,
    LoginRequiredMask
  },
  props: {
    sfUrl: {
      type: String,
      default: 'https://pescatore.q-cumber.org/serverless-functions/rumor-level-trend/'
    },
    interval: {
      type: String,
      default: 'week'
    },
    size: {
      type: [String, Number],
      default: 0
    },
    start: {
      type: [String, Number],
      default: 0
    },
    asList: {
      type: Boolean,
      default: false
    },
    hideLoader: {
      type: Boolean,
      default: false
    },
    hideIcons: {
      type: Boolean,
      default: false
    },
    dark: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      collapseUrl: false,
      chartOptions: null
    }
  },
  methods: {
    getEntities () {
      // console.log('getEntities', this.licenseName)
      this.apiError = false
      this.notAuthorized = false

      if (this.userProfile) {
        this.xhrGetUrl = this.sfUrl + '?subject=' + this.subject
        this.xhrGetUrl += '&topic=' + this.topic

        if (this.useTimezone) this.xhrGetUrl += '&timezone=' + this.timezone
        if (this.interval) this.xhrGetUrl += '&interval=' + this.interval
        if (this.startDate) this.xhrGetUrl += '&from=' + this.normalizeDate(this.startDate)
        if (this.endDate) this.xhrGetUrl += '&to=' + this.normalizeDate(this.endDate)

        if (this.basinSlug) this.xhrGetUrl += '&basin_slug=' + this.basinSlug

        this.performXhrGet()

      } else {
        this.fetchUserProfile()
      }
    },
    parseEntities (data) {
      this.updateLicensesNames(data)

      return data['aggregations']['licenses']['buckets']
    },
    getChartOptions () { // returns Highcharts chart Object
      // let self = this

      let series = []

      for (let i=0; i<this.entities.length; i++) {
        let el = this.entities[i]
        let key = el['key']

        let basinSlug = el['basin_slug']['buckets'][0]['key']
        let indicator = this.getBasinIndicator(basinSlug)

        let el_buckets = el['by_interval']['buckets']
        let values = el_buckets.map((b)=>{
          return [b['key'], b[indicator]['value']]
        })
        series.push({
          name: key,
        data: values
        })
      }

      let _chartOptions = {
        title: {
            text: this.subjectTitle + '/' + this.topicTitle
        },

        subtitle: {
            text: 'Andamento'
        },

        yAxis: {
            title: {
                text: 'Results'
            }
        },

        xAxis: {
            type: 'datetime'
        },

        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle'
        },

        plotOptions: {
            series: {
                label: {
                    connectorAllowed: false
                }
            }
        },

        series: series,

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
      }

      return _chartOptions
    }
  },
  watch: {
    entities (n) {
      // console.log('entities changed', n)
      if (n) {
          let _chartOptions = this.getChartOptions()
          // console.log('ChartOptions', JSON.stringify(_chartOptions))
          this.chartOptions = _chartOptions
      }
    }
  }
}
</script>

<style lang="scss">
@import "../../../../scss/theme";

.rumor-level-trend {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 96px;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: auto;
  color: #111;
  font-size: small;

  a {
    color: #111;
    text-decoration: underline;
  }

  .clear {
    box-sizing: border-box;
    padding: 16px 0;
    clear: both;
    text-align: center;
  }

}
.rumor-level-trend.dark {
  color: #fff;
}
.rumor-level-trend.hide-icons {

}
</style>
