<template>
  <div class="rumor-level-timeline"
    :class="{'as-list': asList}">

    <div class="btn left"
      @click="goPrevStep"><span>&lt;</span></div>

    <highcharts class="chart"
      v-if="showChart && chartOptions != null" ref="chart" :options="chartOptions" 
      :callback="highchartsCallback"/>

    <div class="btn right"
      @click="goNextStep"><span>&gt;</span>
    </div>

  </div>
</template>

<script>
/*

Permette di selezionare uno o piu step di un intervallo temporale diviso in unità tra:

- anni
- mesi
- settimane
- giorni

riceve serie gia pronte e può cambiare solo lo shift
*/

export default {
  name: 'RumorLevelTimeline',
  props: {
    asList: {
      type: Boolean,
      default: false
    },
    chartOptions: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      shift: 0,
      showChart: false,
      chart: null
    }
  },
  mounted () {
    this.init()
  },
  methods: {
    init () {
      if (this.chartOptions != null) {
        this.updateChartOptions()
      }
    },
    goPrevStep () {
      this.shift -= 1
    },
    goNextStep () {
      this.shift += 1
    },
    updateChartOptions () {
      this.showChart = false
      this.$nextTick(() => {
        this.showChart = true
      })
    },
    highchartsCallback (ev) {
      this.chart = ev
    }
  },
  watch: {
    asList () { //(n) {
      this.updateChartOptions()
    },
    chartOptions (n) {
      if (n) {
        // console.log('chartOptions changed', n)
        this.updateChartOptions()
      }
    },
    // chartLoaded (n) {
      // console.log('chart loaded')
    // },
    shift () { //(n) {
      // console.log('shift changed', n)
      this.$emit('update', {
        shift: this.shift
      })
    }
  }
}
</script>

<style lang="scss">
.rumor-level-timeline {
  position: relative;
  height: 100%;

  .chart {
    padding: 0 32px;
    height: 100%;
  }

  .btn {
    position: absolute;
    width: 32px;
    height: 32px;
    line-height: 16px;
    text-align: center;
    top: 40%;
    cursor: pointer;
    font-weight: bold;
    font-size: 110%;
    border-radius: 999px;
    padding: 8px;
    box-sizing: border-box;
  }
  .btn:hover {
    color: rgb(255,64,129);
    background-color: rgba(255,64,129,0.2);
  }
  .btn.left {
    left: 0;
  }
  .btn.right {
    right: 0;
  }
}

.rumor-level-timeline.as-list {
  .chart {
    padding: 0;
  }
  .btn {
    display: none;
  }
}
</style>
