<template>
  <div class="rumor-dashboard-list-pagination">
    <nav>
      <ul v-show="totalPages > 1" class="pagination">
        <li :class="{ disabled: prevPage == 0 }">
          <a @click.prevent="gotoPage(prevPage);" href="#prev" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <li v-for="page in pages" v-bind:key="page"
          :class="{ active: pagination.currentPage == page }"><a @click.prevent="gotoPage(page);">{{ page }}</a></li>

        <li :class="{ disabled: nextPage > totalPages }">
          <a @click.prevent="gotoPage(nextPage);" href="#next" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</template>

<script>

/**
 * RumorDashboardListPagination
 * 
 */

export default {
  name: 'RumorDashboardListPagination',
  props: {
    pages: {
      type: Array,
      default () {
        return []
      }
    },
    totalPages: {
      type: Number,
      default: 0
    },
    prevPage: {
      type: Number,
      default: 0
    },
    nextPage: {
      type: Number,
      default: 0
    },
    pagination: {
      type: Object,
      default: null
    }
  },
  methods: {
    gotoPage (n) {
      this.$emit('goToPage', n)
    }
  }
}
</script>

<style lang="scss">
.rumor-dashboard-list-pagination {
  clear: both;
  overflow: hidden;
  position: relative;

  nav {
    clear: both;
    overflow: hidden;
    text-align: center;

    ul, li {
      text-decoration: none;
      padding: 0;
      list-style-type: none;
      display: inline-block;
    }
    ul {
      margin: 8px;
    }
    li {
      margin: 0 4px;

      a {
        cursor: pointer;
      }
    }
    .active {
      font-weight: bold;
      text-decoration: underline;
      margin: 0 6px;
    }
  }
}
</style>
