<template>
  <div class="rumor-dashboard" :class="{'as-list': state.asList, 'is-negative': isNegative}" :key="locale">

    <LoginRequiredMask
      v-if="!hideLoginMask && !loading"
      :already-logged-in="userProfile !== null"
      :login-url="loginUrl" />

    <LoadingBox
      v-if="loading"
      class="loading-box" />

    <ErrorModal
      v-if="apiError || notAuthorized || noResults"
      opened
      :type="(notAuthorized || noResults) ? 'warning' : 'error'"
      :content="notAuthorized ? gettext('Service is not enabled') : noResults ? '' + subject + ' / ' + topic + '<br/>' + gettext('No results.') : gettext('Error contacting server, try later.')"
      @refresh="getEntities()" />

    <!-- <div v-for="item in selectedPoints" v-bind:key="item.id"> -->
      <!-- {{item.license.key}} -->
    <!-- </div> -->

    <div class="logo" v-if="!state.asList">
      <img src="../../../../assets/elements/loader/loader.png" />
    </div>

    <div class="info-button"
      v-if="!state.asList"
      :class="{ opened: infoOpened }"
      @click="infoOpened = !infoOpened">
      <i class="material-icons" v-html="infoOpened ? 'close' : 'info'"></i>
    </div>

    <div class="info"
      v-if="!state.asList && infoOpened"
      :class="{ opened: infoOpened }">
      <h1>Info</h1>
      <p>
        <big>I grafici rappresentano la percezione dell'associazione tra il tema <b>"{{topic}}"</b> ed il soggetto <b>"{{subject}}"</b>
          in {{ selectedBasinName }}.</big>
      </p>
      <h4  class="bottomless">{{gettext('Parameters')}}</h4>
      <p>
        <b>{{gettext('Subject')}}:</b> {{subject}} <br/>
        <b>{{gettext('Topic')}}:</b> {{topic}} <br/>
        <b>{{gettext('Start date')}}:</b> {{lowerselectedDate ? lowerselectedDate.format('LLL') : ''}} <br/>
        <b>{{gettext('End date')}}:</b> {{upperSelectedDate ? upperSelectedDate.format('LLL') : ''}}
      </p>
      <p class="selected-licenses" v-if="selectedPoints && selectedPoints.length">
        <b>Selected licenses: </b><span v-for="item in selectedPoints" v-bind:key="item.id"> {{item.license.key}}</span>
      </p>
      <h4 class="bottomless">{{gettext('Instructions')}}</h4>
      <p>
        In alto è possibile scegliere il bacino da analizzare e se normalizzare i risultati rispetto al valore massimo.
      </p>
      <p>
        Le colonne rappresentano l'evoluzione temporale e permettono di selezionare un intervallo (se non specificato verrà selezionato il piu' recente).
      </p>
      <p>
        Al centro sono riportate le parole che compaiono più di frequente con dimensione e colore proporzionali al numero di occorrenze.
      </p>
      <p>
        Sono esclusi i termini: <br/>
        <b>"{{ this.fullExcludedTerms.split('|').join('" "') }}".</b>
      </p>
      <p>
        In basso la lista degli articoli reperiti nell'intervallo selezionato.
      </p>
    </div>

    <div class="trend" v-if="state.asList">
        <RumorTrend :is-negative="isNegative" :trend="trend" />
    </div>

    <div class="header">

      <h2 class="topic" v-if="topic">
        {{topicTitle}}
      </h2>
      <h2 class="subject" v-if="subject">
        <i>{{subjectTitle}}</i>
      </h2>
<!--      <h2>
        {{lowerBound ? lowerBound.format('LLL') : ''}} - {{upperBound ? upperBound.format('LLL') : ''}}
      </h2>-->
<!--      <p>
        {{startSelected ? startSelected.format('LLL') : ''}} - {{endSelected ? endSelected.format('LLL') : ''}}
      </p>-->
      <div class="normalized-selector" @click="state.normalized = !state.normalized">
        <input type="checkbox" v-model="state.normalized" />
        <label>{{ gettext('Normalize') }}</label>
      </div>
    </div>

    <div class="trend" v-if="!state.asList">
        <RumorTrend :is-negative="isNegative" :trend="trend"/>
    </div>

    <div class="container">

      <div class="timeline">
        <RumorLevelTimeline v-if="showTimeline" ref="timeline"
          @update="timelineUpdated"
          :chart-options="chartOptions"
          :as-list="state.asList" />
      </div>

      <div class="wordcloud"
        v-if="userProfile && !state.asList && wordList && wordList.length">
        <!-- <h3>{{gettext('Most used terms')}}</h3> -->
        <RumorWordCloud
          hide-subject
          hide-topic
          :subject="subject"
          :topic="topic"
          :is-negative="isNegative"
          :list="wordList"
          />
      </div>

      <div class="list"
        v-if="!hideLatestArticles && !state.asList">
        <h3>
          <span v-if="showLatestArticles">
            {{ gettext('Latest articles') }}
          </span>
          <span v-else
            class="show-latest-articles"
            @click="showLatestArticles = true">
            {{ gettext('Show latest articles') }}
          </span>
        </h3>

        <RumorList
          v-if="showLatestArticles"
          auto
          hide-login-mask
          :external-user-profile="userProfile"
          :size="5"
          :user-id="subject"
          :start-date="lowerselectedDate"
          :end-date="upperSelectedDate"
          :license-name="selectedLicensesNames.join(',')"
          :bait-name="baitName"
          />
      </div>
    </div>

    <div class="clear show-more">
      <img
        v-if="state.asList"
        src="../../../../assets/elements/loader/loader-white.png" />
      <a
        @click="showMore">
        <small v-html="state.asList ? gettext('More info') : gettext('Less info')"></small>
      </a>
    </div>
  </div>
</template>

<script>
import LoadingBox from '../../../elements/loader/LoadingBox'
import ErrorModal from '../../../elements/modal/ErrorModal'

import RumorLevelTimeline from './RumorLevelTimeline'
import RumorWordCloud from '../RumorWordCloud'
import RumorTrend from '../RumorTrend'
import RumorList from '../RumorList'

import LoginRequiredMask from '../../user/LoginRequiredMask'

import RumorDashboardMixin from "./RumorDashboardMixin"

/**
 * RumorDashboard
 *
 */

export default {
  name: 'RumorDashboard',
  mixins: [
    RumorDashboardMixin
  ],
  components: {
    LoadingBox,
    RumorLevelTimeline,
    RumorWordCloud,
    RumorTrend,
    RumorList,
    LoginRequiredMask,
    ErrorModal
  }
}
</script>

<style lang="scss">
@import "../../../../scss/theme";

.rumor-dashboard {
  overflow: hidden;
  position: relative;
  background-color: #fefefe;
  color: #00BEA4;
  color: #111;
  box-shadow: 0 0 8px #ccc;
  border-radius: 4px;

  > div {
    box-sizing: border-box;
  }

  .logo {
    position: absolute;
    top: 12px;
    left: 12px;

    > img {
      width: 24px;
      height: 24px;
    }

    @media screen and (min-width: $break-tablet) {
      top: 22px;
      left: 22px;
    }
  }

  .header {
    overflow: hidden;
    text-align: center;

    .basin-selector {
      select {
        line-height: 24px;
        font-size: 14px;
        margin: 10px 0;
        padding: 5px;
        border-radius: 5px;
        background-color: #fefefe;
        outline: none;
      }
    }

    h2 {
      margin: 8px 0;
      font-size: 18px;
      word-break: break-word;

      @media screen and (min-width: $break-tablet) {
        font-size: 24px;
      }
    }

    h2:first-of-type {
      margin-top: 32px;
    }

    h2.topic {
      text-transform: uppercase;
    }
  }
  .trend {
    margin-bottom: 16px;
  }
  .info {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #111;
    color: #fff;
    padding: 16px;
    overflow: hidden auto;
    height: 100%;
    width: 100%;
    transition: opacity 0.4s;
    opacity: 0;
    z-index: 0;

    > p {
      font-size: 90%;
    }

    .selected-licenses {
      span:not(:last-of-type):after {
        content: ','
      }
      span:last-of-type:after {
        content: '.'
      }
    }

    @media screen and (min-width: $break-phone) {
      padding: 32px;
    }
    @media screen and (min-width: $break-tablet) {
      padding: 48px;
    }
  }
  .info.opened {
    opacity: 1;
    z-index: 1;
  }

  .info-button {
    padding: 0;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    z-index: 2;
    color: #111;

    @media screen and (min-width: $break-tablet) {
        top: 22px;
        right: 22px;
    }
  }
  .info-button:active {
    color: rgb(255,64,129);
  }
  .info-button.opened {
    color: #fff;
  }

  .container {
    box-sizing: border-box;
/*     margin: 16px 0; */
    position: relative;
    overflow: hidden;

    > .timeline {
      box-sizing: border-box;
      clear: both;
      padding: 0 16px;
      width: 100%;
      height: 280px;

      @media screen and (min-width: $break-phone) {
        padding: 0 16px;
      }
    }

    .wordcloud, .list {
      clear: both;
      overflow: hidden;
      position: relative;
      box-sizing: border-box;
      width: 100%;
      padding: 0;

      @media screen and (min-width: $break-phone) {
        padding: 0 16px;
      }
      @media screen and (min-width: $break-tablet) {
        padding: 0 32px;
      }
    }

    .wordcloud {
      margin-bottom: 16px;

      > .chart {
        height: 380px;
      }
    }

    .list {
      .show-latest-articles {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    h3 {
      text-align: center;
      text-transform: uppercase;
      font-size: small;
    }
  }
  .bottomless {
    margin-bottom: 0;
  }
  .clear.show-more {
    background-color: #efefef;
    padding: 8px 16px 10px;
    text-align: right;
    border-top: 1px solid #dfdfdf;

    > img {
      float: left;
      width: 20px;
      height: 20px;
    }

    a {
      cursor: pointer;
      color: #333;
      font-weight: bold;
    }:hover {
      text-decoration: underline;
      color: rgb(255,64,129);
    }
  }
}

.rumor-dashboard.as-list {
  .header, .container, .trend {
    float: left;
  }
  .trend {
    width: 12%;
    height: 200px;
    margin-bottom: 0;

    @media screen and (min-width: $break-phone) {
      width: 12%;
    }
  }
  .header {
    text-align: left;
    width: 36%;
    height: 200px;
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      margin: 4px 0;
    }

    @media screen and (min-width: $break-phone) {
      width: 42%;
    }
  }
  .container {
    padding: 0;
    width: 52%;

    > .timeline {
      width: 100%;
      height: 196px;
      margin: 2px 0;
      padding-right: 0;
    }

    @media screen and (min-width: $break-phone) {
      width: 46%;
    }
  }
}
</style>
