<!-- mine -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Just+Another+Hand" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>
<!-- <link rel="stylesheet" href="https://cdn.q-cumber.org/static/cdn/swiper/4.4.6/css/swiper.min.css"> -->
<!-- <script src="https://cdn.q-cumber.org/static/cdn/swiper/4.4.6/js/swiper.min.js"></script> -->

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/document-register-element/1.4.1/document-register-element.js"></script> -->

<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script> -->
<!-- <script src="https://cdn.q-cumber.org/static/cdn/vue/2.6.10/vue.min.js"></script> -->

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script> -->
<!-- <script src="https://cdn.q-cumber.org/static/cdn/axios/0.18.0/axios.min.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script> -->
<!-- <script src="https://cdn.q-cumber.org/static/cdn/moment/2.24.0/moment-with-locales.min.js"></script> -->

<!-- <script src="https://code.highcharts.com/7.1/highcharts.js""></script> -->
<!-- <script src="https://code.highcharts.com/7.1/modules/wordcloud.js"></script> -->
<!-- <script src="https://cdn.q-cumber.org/static/cdn/highcharts/7.1/highcharts.js"></script> -->
<!-- <script src="https://cdn.q-cumber.org/static/cdn/highcharts/7.1/modules/wordcloud.js"></script> -->

<!-- <script src="https://cdn.q-cumber.org/static/cdn/highcharts-vue/1.3.1/highcharts-vue.min.js"></script> -->
<!-- <script src="https://cdn.q-cumber.org/static/cdn/highcharts-vue/1.3.1/highcharts-vue.min.js"></script> -->

<!-- <script src="https://cdn.jsdelivr.net/npm/vue-custom-element@3.2.5/dist/vue-custom-element.min.js"></script> -->


<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer_compiled.js"></script> -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js"></script> -->

<!--<script src="https://unpkg.com/vue-multiselect@2.1.0"></script>-->
<link rel="stylesheet" href="https://unpkg.com/vue-multiselect@2.1.0/dist/vue-multiselect.min.css">

<!--<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>-->

<!--<script src="https://unpkg.com/shpjs@latest/dist/shp.js"></script>-->

<style>
.contenitore {
    position: relative;
    overflow: hidden;
    padding: 16px;
    background-color: silver;
}
.contenitore.loyalty {
  background-color: #375864;
}
.contenitore.white {
  background-color: #fefefe;
  
}
.contenitore.tools {
  background-color: #00BFFF;
}
</style>
