<template>
  <div class="rumor-level">
    <highcharts class="chart"
      v-if="showChart && chartOptions" ref="chart"
      :options="chartOptions" />
  </div>
</template>

<script>
import RumorElementMixin from './RumorElementMixin'


/**
 * RumorLevel
 * 
 */

export default {
  name: 'RumorLevel',
  mixins: [
    RumorElementMixin
  ],
  props: {
    level: {
      type: [String, Number],
      default: 0
    },
    barWidth: {
      type: [String, Number],
      default: 48
    }
  },
  data () {
    return {
      chartOptions: this.getChartOptions()
    }
  },
  methods: {
    update () {
      this.chartOptions = this.getChartOptions()
    },
    getChartOptions () {
      let x = parseFloat(this.level)
      let color = this.getLevelColor(x)
      let data = [x]
      let label = '' + x
      let title = this.subject
      let subtitle = null

      let c = {
        credits: {
            enabled: false
        },
        tooltip: {
          enabled: false
        },
        chart: {
            type: 'column',
            backgroundColor:'rgba(255, 255, 255, 0.0)'
        },
        exporting: {
          enabled: this.enableExporting
        },
        title: {
            text: title
        },
        subtitle: {
            text: subtitle
        },
        plotOptions: {
            series: {
                color: color,
                pointWidth: this.barWidth
            },
            column: {
                dataLabels: {
                    format: label,
                    enabled: false,
                    crop: false,
                    overflow: 'show',
                    y: 30
                }
            }
        },
        xAxis: [{
            visible: false
        }],
        yAxis: [{
            min: 0,
            max: 1,
            visible: false
        }],
        series: [{
            data: data,
            name: this.topic
        }]
      }

      if (this.hideSubject) {
        c['title']['style'] = {display: 'none'}
        c['subtitle']['style'] = {display: 'none'}
      }
      if (this.hideTopic) {
        c['legend'] = c['legend'] || {enabled: false}
      }

      return c
    }
  },
  watch: {
    level () {
      this.chartOptions = this.getChartOptions()
    }
  }
}
</script>

<style lang="scss">
.rumor-level {
  position: relative;
  height: 100%;

  .chart {
    height: 100%;
  }
}
</style>