<template>
<div class="rumor-word-cloud">
  <p v-if="asList"
    class="list">
    <span v-for="(item, key) in data.slice(0, asListItems)" :key="key" :style="{color: item.color, 'font-size': (item.weight + 16) > 32 ? 32 : (item.weight + 16) + 'px'}">{{item.name}} </span>
  </p>
  <div v-else>
    <highcharts class="rumor-word-cloud chart"
      v-if="showChart && chartOptions" ref="chart"
      :options="chartOptions" />
  </div>
</div>
</template>

<script>
import Highcharts from 'highcharts'
import wordcloudInit from 'highcharts/modules/wordcloud'

import RumorElementMixin from './RumorElementMixin'

wordcloudInit(Highcharts)

/**
 * RumorWordCloud
 * 
 */

export default {
  name: 'RumorWordCloud',
  mixins: [
    RumorElementMixin
  ],
  props: {
    normalized: {
      type: Boolean,
      default: true
    },
    asList: {
      type: Boolean,
      default: false
    },
    asListItems: {
      type: [String, Number],
      default: 5
    },
    color: {
      type: String,
      default: null
    },
    backgroundColor: {
      type: String,
      default: '#fff'
    },
    list: {
      type: Array,
      default () {
        return []
      } 
    },
    text: {
      type: String,
      default: null
    },
    excludedWords: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      hcInstance: Highcharts,  // https://github.com/highcharts/highcharts-vue (second way)
      chartOptions: this.getChartOptions(),
      maxLevel: 0,
      data: []
    }
  },
  mounted () {
    window.addEventListener('resize', () => {
      this.update()
    })
    this.$nextTick(()=>{
      this.update()
    })
  },
  methods: {
    includeWord (w) {
      let exclude = this.excludedWords
      if (this.subject) {
        exclude.push(this.subject.toLowerCase())
      }
      if (this.topic) {
        exclude.push(this.topic.toLowerCase())
      }

      let isInExclude = exclude.indexOf(w) < 0
      let containsNumber = /\d/.test(w)
      
      return isInExclude && !containsNumber
    },
    cleanWord (word) {
      word = word.toLowerCase()
      word = word.replace(/[.,/#!$%^&*;:{}=\-_`~()]/g,"")
      word = word.replace(/l'/g,"")
      word = word.replace(/d'/g,"")

      return word
    },
    getDataFromText () {
      let lines = this.text.split(/[,. ]+/g)
      this.maxLevel = 0

      return Highcharts.reduce(lines, (arr, word) => {
          word = this.cleanWord(word)

          if (this.includeWord(word)) {
            var obj = Highcharts.find(arr, function (obj) {
                return obj.name.toLowerCase() === word
            })
            if (obj) {
                obj.weight += 1
            } else {
                obj = {
                    name: word,
                    weight: 1
                };
                arr.push(obj)
            }
          }

          return arr
      }, [])
    },
    setData () {
      let data = []

      if (this.text) {
        data = this.getDataFromText()
      } else {
        data = this.list.length ? this.list : []
      }

      data.map((obj) => {
        if (obj.weight > this.maxLevel) {
          this.maxLevel = obj.weight
        }
      })

      data.map((el) => {
        let max = 1 / this.maxLevel
        let level = max / (1 / el.weight)

        el['color'] = this.getLevelColor(level)
      })

      this.data = data
    },
    getChartOptions () {
      this.setData()
      let title = this.subject
      let subtitle = null

      let c = {
        credits: {
            enabled: false
        },
        tooltip: {
          enabled: false
        },
        chart: {
          backgroundColor:'rgba(255, 255, 255, 0.0)'
        },
        exporting: {
          enabled: this.enableExporting
        },
        title: {
            text: title
        },
        subtitle: {
            text: subtitle
        },
        series: [{
            type: 'wordcloud',
            data: this.data,
            name: this.topic
        }]
      }

      if (this.hideSubject) {
        c['title']['style'] = {display: 'none'}
        c['subtitle']['style'] = {display: 'none'}
      }

      return c
    },
    update () {
      this.chartOptions = this.getChartOptions()
    }
  },
  watch: {
    text () {
      this.update()
    },
    list () { //(n) {
      this.update()
    }
  }
}
</script>

<style lang="scss">
.rumor-word-cloud {
  height: 100%;

  .chart {
    height: 100%;
  }
  .list {
    line-height: 48px;
    padding: 0;
  }
}
</style>
