<template>
  <div
    ref="container"
    class="rumor-list"
    :class="{dark: dark, 'hide-icons': hideIcons}"
    >

    <LoadingBox
      v-if="loading && !hideLoader"
      class="loading-box">
    </LoadingBox>

    <LoginRequiredMask
      v-if="!hideLoginMask && !loading"
      :already-logged-in="userProfile !== null"
      :login-url="loginUrl" />

    <ErrorModal
      v-if="apiError"
      :opened="apiError"
      :content="gettext('Error contacting server, try later.')"
      @refresh="getEntities()" />

    <div class="element card"
      v-for="(item, key) in entities"
      :key="key"
      @click="$emit('selected', item)">

      <i class="icon material-icons"
        :style="getEntityIconStyle(item)">
        {{getEntityIcon(item)}}
      </i>

      <h4 class="text">
        <a :href="getEntityUrl(item)" alt="item" target="_blank">
<!--           <span class="date" v-if="item.created_at">{{getEntityDate(item)}} - </span> -->
          {{getEntityTitle(item)}}
        </a>
      </h4>

      <div class="vote"
        v-if="canReport">
<!--         <a @click="voteUp(item)" :title="gettext('good')"><i class="icon material-icons">thumb_up</i></a> -->
        <a @click="voteDown(item)" :title="gettext('Report as inappropriate')"><i class="icon material-icons">thumb_down</i></a>
      </div>
    </div>

    <div class="clear">
      <a v-if="hasMore()"
        class="load-more"
        @click="loadMore">
        {{ gettext('Load more') }}
      </a>
    </div>

  </div>
</template>

<script>
/**
 * RumorList
 * 
 */

import LoadingBox from '../../elements/loader/LoadingBox'
import ErrorModal from '../../elements/modal/ErrorModal'
import LoginRequiredMask from '../user/LoginRequiredMask'

import UserRumorsMixin from './UserRumorsMixin'
import RumorElementMixin from './RumorElementMixin'


export default {
  name: 'RumorList',
  mixins: [
    UserRumorsMixin,
    RumorElementMixin
  ],
  components: {
    LoadingBox,
    ErrorModal,
    LoginRequiredMask
  },
  props: {
    canReport: {
      type: Boolean,
      default: false
    },    
    asList: {
      type: Boolean,
      default: false
    },
    hideLoader: {
      type: Boolean,
      default: false
    },
    hideIcons: {
      type: Boolean,
      default: false
    },
    showAll: {
      type: Boolean,
      default: false
    },
    dark: {
      type: Boolean,
      default: false
    },
    uscita: {
      type: String,
      default: null
    },
    iconColor: {
      type: String,
      default: null
    }
  },
  methods: {
    voteUp () {
//       console.log('voteUp', i)
    },
    voteDown () {
//       console.log('voteDown', i)
    }
  }
}
</script>

<style lang="scss">
@import "../../../scss/theme";

.rumor-list {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 96px;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: auto;
  color: #111;
  font-size: small;

  a {
    color: #111;
    text-decoration: underline;
  }

  .clear {
    box-sizing: border-box;
    padding: 16px 0;
    clear: both;
    text-align: center;

    .load-more {
      cursor: pointer;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  .card {
    position: relative;
    min-height: 24px;
    line-height: 24px;
    overflow: hidden;
    padding : 0;

    .icon {
      display: inline-block;
      float: left;
      margin: 0 12px 12px 0;
      font-size: 24px;
      line-height: 24px;
    }
    .date {
      line-height: 24px;
    }
    .text {
      line-height: 24px;
      margin: 0 0 0 32px;
    }
    .vote {
      position: absolute;
      display: none;
      top: 0;
      right: 0;
      width: 32px;
      height: 24px;

      a {
        cursor: pointer;
      }:hover {
        color: #ff4081;
      }

      i {
        margin: 0 0 0 8px;
      }
    }
  }
  
  .card:hover {
    .vote {
      display: inline-block;
    }
  }
}
.rumor-list.dark {
  color: #fff;
}
.rumor-list.hide-icons {
  .card {
    .icon {
      display: none;
    }
    .text {
      margin-left: 0;
    }
  }
}
</style>
