<template>
  <div class="rumor-trend" :class="{'is-negative': isNegative}">
     <i class="material-icons face"
        v-if="face"
        v-html="isNegative ? 'sentiment_dissatisfied' : 'sentiment_satisfied'"></i>

      <i class="material-icons"
        v-else
        :style="{color: getColor()}"
        v-html="getTrendIcon()"></i>
  </div>
</template>

<script>

/**
 * RumorTrend
 * 
 */

export default {
  name: 'RumorTrend',
  props: {
    trend: {
      type: [String, Number],
      default: 0
    },
    isNegative: {
      type: Boolean,
      default: false
    },
    face: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    getTrendIcon () {
      if (this.trend === 0) {
        return 'trending_flat'
      } else if (this.trend > 0) {
        return 'keyboard_arrow_up' // 'trending_up'
      } else {
        return 'keyboard_arrow_down' // 'trending_down'
      }
    },
    getColor () {
      if (this.trend === 0) return '#efefef'

      if (this.isNegative) {
        if (this.trend > 0) return '#ff2400'
        else return '#0f9851'
      } else {
        if (this.trend < 0) return '#ff2400'
        else return '#0f9851'      
      }
    }
  }
}
</script>

<style lang="scss">
@import "../../../scss/theme";

.rumor-trend {
  position: relative;
  overflow: hidden;
  text-align: center;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  i {
    font-size: 36px;

    @media screen and (min-width: $break-phone) {
      font-size: 48px;
    }

    @media screen and (min-width: $break-tablet) {
      font-size: 56px;
    }

  }.face {
    color: #efefef;
    position: relative;
    top: -8px;
  }
}
</style>
