<template>
  <div class="q2-shapefile-map">
    <drawer-layout
      ref="drawer">

      <input
        v-if="!sourceUrl"
        slot="drawer"
        type="file" @change="handleFileChange" />
      <a v-else slot="drawer" :href="sourceUrl" alt="link" target="_blank"><small>{{sourceUrl}}</small></a>
      <hr
       slot="drawer"/>

      <div slot="drawer">
        <h4 style="margin-bottom: 0;" v-if="features.length">Feature ({{ features.length }})</h4>
        <div v-for="(feature, index) in features"
          v-bind:key="index"
          class="element"
          :class="{active: selectedFeature==feature}"
          @click="selectFeature(feature)">
          <p v-html="feature.text"></p>
        </div>
      </div>

      <l-map slot="background"
        v-if="showMap"
        ref="map"
        :options="mapOptions"
        style="height: 100%; z-index: 0;"
        @ready="initUpdate"
      >
        <l-tile-layer :url="tileServerUrl" :attribution="attribution" />
      </l-map>
      
    </drawer-layout>
  </div>
</template>

<script>
import * as shp from "shpjs"

import { latLng } from "leaflet"
import { LMap, LTileLayer } from "vue2-leaflet"

import chroma from "chroma-js"

import 'leaflet.markercluster'

import 'leaflet/dist/leaflet.css'
import 'leaflet.markercluster/dist/MarkerCluster.css'
import 'leaflet.markercluster/dist/MarkerCluster.Default.css'

import DrawerLayout from '../../../layout/DrawerLayout'

export default {
  components: {
    LMap,
    LTileLayer,

    DrawerLayout
  },
  props: {
    sourceUrl: {
      type: String,
      default: null
    },
    featureProperties: {
      type: String,
      default: null
    },
    featureColorScale: {
      type: String,
      default: '#fafa6e,#2A4858'
    },
    styleFunction: {
      type: String,
      default: null
    }
  },
  data () {
    return {
        auto: true,

        showMap: true,
        mapUpdating: true,

        tileServerUrl: 'https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}',
        attribution: 'Tiles &copy; Esri',

        mapOptions: {
            zoomSnap: 0.5,
            minZoom: 2,
            zoomControl: false,
        },

        shapefiles: [],
        features: [],
        selectedFeature: null,

        properties: this.featureProperties ? this.featureProperties.split(',') : [],

        colorScale: this.featureColorScale ? this.featureColorScale.split(',') : ['#fafa6e', '#2A4858'],
        styleFn: null
    }
  },
  mounted () {
    if (this.styleFunction) {
      eval('this.styleFn = ' + this.styleFunction)
    }

  },
  methods: {
    clear () {
      this.shapefiles = []
      this.features = []
      this.selectedFeature = null

      // clear layers
      this.$refs.map.mapObject.eachLayer((layer) => {
        if (!!layer.toGeoJSON) {
          this.$refs.map.mapObject.removeLayer(layer)
        }
      })
    },
    initUpdate () {
      this.$refs.map.mapObject.on('zoomstart', () => {
        this.$emit('map-moving')
      }).on('movestart', () => {
        this.$emit('map-moving')
      }).on('dragstart', () => {
        this.$emit('map-moving')
      }).on('zoomend', () => {
        this.$emit('map-stop-moving')
      }).on('moveend', () => {
        this.$emit('map-stop-moving')
      }).on('dragend', () => {
        this.$emit('map-stop-moving')
      })

      this.$refs.drawer.$on('resize', () =>{
        if (this.$refs.map) {
          this.$refs.map.mapObject.invalidateSize()
        }
      })

      this.$on('input', (shapefiles) => {
        //console.log('input', shapefiles)
        //this.$refs.drawer.openDrawer()
      })

      if (this.auto && this.sourceUrl) {
        this.handleSourceUrlChange(this.sourceUrl)
      }

      this.mapUpdating = false
    },
    getFeatureDescription (feature) {
      // append properties
      let properties
      
      if (this.properties && this.properties.length) {
        properties = this.properties.map((x)=>{
          return {
            name: x,
            key: x
          }
        })
      } else {
        properties = Object.keys(feature.properties).map((x)=>{
          return {
            name: x,
            key: x
          }
        }).sort(function(a, b) {
          var nameA = a.name.toUpperCase()
          var nameB = b.name.toUpperCase()
          if (nameA < nameB) {
            return -1
          }
          if (nameA > nameB) {
            return 1
          }
          return 0
        })
      }

      let popup_text = properties.length ? '' : null
      for (var i=0; i<properties.length; i++) {
          popup_text += properties[i]['name'] + ': ' + feature.properties[properties[i]['key']] + '<br/>'
      }
      return popup_text
    },
    getFeatureColorFn (feature) {
      console.log('stileggio', feature, feature._layer)
      if (this.styleFn) {
          return this.styleFn(feature)
      } else {
        // https://gka.github.io/chroma.js/
        let colors = chroma.scale(this.colorScale).mode('lch').colors(this.features.length)

        let color = colors[0]
        for (let i=0; i<this.features.length; i++) {
          if (feature == this.features[i]) {
            color = colors[i]
          }
        }

        console.log('feat', feature, colors, color)

        return {
            fillColor: color,
            weight: 2,
            opacity: 1,
            color: '#ffffff',
            dashArray: '3',
            fillOpacity: 0.7,
            weight: 0.5
        }
      }
    },
    convertToLayer (file) {
      console.log('convertToLayer', file)

      var reader = new FileReader()

      reader.onload = () => {
        if (reader.readyState != 2 || reader.error) {
            console.log('reader error', reader)
            return
        } else {
          let geo = L.geoJson({features:[]}, {
            onEachFeature: (feature, layer) => {
                feature.file = file
                feature.text = this.getFeatureDescription(feature)
                feature.layer = layer
                console.log('feature', feature, feature.properties, L.GeometryUtil)

                layer.bindPopup(feature.text).on('click', (e)=>{
                  //console.log('click', e, e.target.feature)
                  this.selectedFeature = e.target.feature
                  this.$refs.drawer.openDrawer()
                })

                this.features.push(feature)
            }
          }).addTo(this.$refs.map.mapObject);

          shp(reader.result).then((data) => {                
              console.log('data', data)

              geo.addData(data)

              // style features
              for (let i=0; i<this.features.length; i++) {
                let feature = this.features[i]
                feature.layer.setStyle(this.getFeatureColorFn(feature))
              }

              this.$refs.map.mapObject.fitBounds(geo.getBounds())
          })
        }
      }

      reader.readAsArrayBuffer(file)
    },
    handleFileChange(e) {
      this.clear()

      this.shapefiles = e.target.files

      for (let i=0; i<this.shapefiles.length; i++) {
        let shapefile = this.shapefiles[i]
        this.convertToLayer(shapefile)
      }

      this.$emit('input', this.shapefiles)
    },
    handleSourceUrlChange (url) {
      this.clear()

      var xhr = new XMLHttpRequest()
      xhr.open('GET', url, true)
      xhr.withCredentials = true
      xhr.responseType = 'blob'

      var self = this
      xhr.onload = function(e) {
          if (this.status == 200) {
            var file = this.response
            this.shapefiles = [file]
            self.convertToLayer(file)

            self.$emit('input', this.shapefiles)
          } else {
            console.log('error fetching file', this, e)
          }
      }
      xhr.send()
    },
    selectFeature (feature) {
      //console.log('selectFeature', feature, feature.layer)
      this.$refs.map.mapObject.fitBounds(feature.layer.getBounds())
      this.selectedFeature = feature
      feature.layer.openPopup()
    }
  }
}
</script>


<style lang="scss">
.q2-shapefile-map {
  position: relative;
  width: 100%;
  height: 100%;
}

</style>
