<template>
  <div class="rumor-level">
    <highcharts class="chart"
      v-if="showChart && chartOptions" ref="chart"
      :options="chartOptions" />
  </div>
</template>

<script>
/**
 * IGLevel
 *
 */

export default {
  name: 'IGLevel',
  mixins: [
  ],
  props: {
    basinSlug: String,
    level: {
      type: [String, Number],
      default: 0
    },
    barWidth: {
      type: [String, Number],
      default: 48
    },
    maxValue: {
      type: [String, Number],
      default: 0
    },
    benchmark: {
      type: [String, Number],
      default: 0
    },
    hideMaxValue: {
      type: Boolean,
      default: false
    },
    normalized: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      chartOptions: this.getChartOptions(),
      showChart: true,
      chartLoaded: false
    }
  },
  methods: {
    getBasinName (basinSlug) {
      if (basinSlug === 'google-cse') {
        //return 'Google'
        return 'Web'
      } else if (basinSlug === 'twitter') {
        // return 'Twitter'
        return 'Social'
      } else if (basinSlug === 'rss') {
        // return 'RSS'
        return 'Feed'
      }
      return 'Basin'
    },
    highchartsCallback () {
      this.chartLoaded = true
    },
    update () {
      this.chartOptions = this.getChartOptions()
    },
    getLevelColor () {
      console.log('COLOR', this.level, this.benchmark)
      if (this.level < this.benchmark) {
        return '#9f9'
      } else {
        return '#f99'
      }
    },
    getChartOptions () {
      let x = parseFloat(this.level)
      let data = [x]
      let label = '' + x
      let title = this.getBasinName(this.basinSlug)
      let subtitle = null

      let c = {
        credits: {
            enabled: false
        },
        tooltip: {
          enabled: false
        },
        chart: {
            type: 'column',
            backgroundColor:'rgba(255, 255, 255, 0.0)'
        },
        exporting: {
          enabled: this.enableExporting
        },
        title: {
            text: title
        },
        subtitle: {
            text: subtitle
        },
        plotOptions: {
            series: {
                pointWidth: this.barWidth
            },
            column: {
                dataLabels: {
                    format: label,
                    enabled: true
                }
            }
        },
        xAxis: [{
            visible: false
        }],
        yAxis: [{
            min: 0,
            max: this.maxValue, // max: this.benchmark * 2,
            visible: !this.hideMaxValue,
            label: 'Results',

            plotLines: [{
              color: '#FF0000',
              width: 2,
              value: this.benchmark,
              zIndex: 4,
              label: {
                text: (Math.round(this.benchmark * 10) / 10),
                align: 'right',
                x: -10
              }
            }]
        }],
        series: [{
            data: data,
            name: 'Level',
            showInLegend: false,
            color: this.getLevelColor()
        }]
      }

      if (this.hideSubject) {
        c['title']['style'] = {display: 'none'}
        c['subtitle']['style'] = {display: 'none'}
      }
      if (this.hideTopic) {
        c['legend'] = c['legend'] || {enabled: false}
      }

      return c
    }
  },
  watch: {
    level (n) {
      console.log('levelChanged', n)
      this.chartOptions = this.getChartOptions()
    },
    maxValue (n) {
      console.log('maxValueChanged', n)
      this.chartOptions = this.getChartOptions()
    },
    benchmark (n) {
      console.log('benchmarkChanged', n)
      this.chartOptions = this.getChartOptions()
    }
  }
}
</script>

<style lang="scss">
.rumor-level {
  position: relative;
  height: 100%;

  .chart {
    height: 100%;
  }
}
</style>
