<template>
  <div
    ref="container"
    class="indice-i-g"
    >

    <LoadingBox
      v-if="loading && !hideLoader"
      class="loading-box">
    </LoadingBox>

    <LoginRequiredMask
      v-if="!hideLoginMask && !loading"
      :already-logged-in="userProfile !== null"
      :login-url="loginUrl" />

    <ErrorModal
      v-if="apiError || notAuthorized"
      opened
      :type="(notAuthorized || noResults) ? 'warning' : 'error'"
      :content="notAuthorized ? gettext('Service is not enabled') : noResults ? '' + subject + ' / ' + topic + '<br/>' + gettext('No results.') : gettext('Error contacting server, try later.')"
      @refresh="getEntities()" />

    <h2 style="text-align: center;">{{ subjectName || subject }}/{{ topicName || topic }}</h2>

    <div class="chart-container" v-if="!loading">
      <div class="col">
        <IGLevel
          basinSlug="google-cse"
          :max-value="googleCseMaxValue()"
          :level="googleCseLevel()"
          :benchmark="googleCseBenchmark()"
        />
      </div>
      <div class="col">
        <IGLevel
          basinSlug="twitter"
          :max-value="twitterMaxValue()"
          :level="twitterLevel()"
          :benchmark="twitterBenchmark()"
        />
      </div>
      <div class="col">
        <IGLevel
          basinSlug="rss"
          :max-value="rssMaxValue()"
          :level="rssLevel()"
          :benchmark="rssBenchmark()"
        />
      </div>
      <div class="clear"></div>
    </div>
  </div>
</template>

<script>
/**
 * IndiceIG
 * 
 */

// https://www.highcharts.com/docs/chart-and-series-types/histogram-series
import Highcharts from 'highcharts'

import LoadingBox from '../../../elements/loader/LoadingBox'
import ErrorModal from '../../../elements/modal/ErrorModal'
import LoginRequiredMask from '../../user/LoginRequiredMask'

import UserRumorsMixin from '../UserRumorsMixin'
import IGLevel from './IGLevel'

import ES_QUERY from './es_query'


export default {
  name: 'IndiceIG',
  mixins: [
    UserRumorsMixin
  ],
  components: {
    LoadingBox,
    LoginRequiredMask,
    ErrorModal,
    IGLevel
  },
  props: {
    subject: {
      type: String,
      default: null
    },
    topic: {
      type: String,
      default: null
    },
    subjectName: {
      type: String,
      default: null
    },
    topicName: {
      type: String,
      default: null
    },
    interval: {
      type: String,
      default: 'week'
    },
    size: {
      type: [String, Number],
      default: 0
    },
    start: {
      type: [String, Number],
      default: 0
    },
    asList: {
      type: Boolean,
      default: false
    },
    hideLoader: {
      type: Boolean,
      default: false
    },
    hideIcons: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      hcInstance: Highcharts,  // https://github.com/highcharts/highcharts-vue (second way)
      collapseUrl: false,
      esData: null,
      googleCseData: null,
      twitterData: null,
      rssData: null
    }
  },
  mounted () {
    this.getEntities()
  },
  methods: {
    googleCseMaxValue () {
      if (this.googleCseData) {
        return this.googleCseData.max_number_of_results.value || 0
      } else {
        return 0
      }
    },
    googleCseLevel () {
      if (this.googleCseData) {
        return this.googleCseData.user.max_number_of_results.value || 0
      } else {
        return 0
      }
    },
    googleCseBenchmark () {
      if (this.googleCseData) {
        return this.googleCseData.avg_number_of_results.value || 0
      } else {
        return 0
      }
    },
    twitterMaxValue () {
      if (this.twitterData) {
        return this.twitterData.unique_url_count.value || 0
      } else {
        return 0
      }
    },
    twitterLevel () {
      if (this.twitterData) {
        return this.twitterData.user.unique_url_count.value || 0
      } else {
        return 0
      }
    },
    twitterBenchmark () {
      if (this.twitterData) {
        return this.twitterData.avg_unique_url_count.value || 0
      } else {
        return 0
      }
    },
    rssMaxValue () {
      if (this.rssData) {
        return this.rssData.unique_url_count.value || 0
      } else {
        return 0
      }
    },
    rssLevel () {
      if (this.rssData) {
        return this.rssData.user.unique_url_count.value || 0
      } else {
        return 0
      }
    },
    rssBenchmark () {
      if (this.rssData) {
        return this.rssData.avg_unique_url_count.value || 0
      } else {
        return 0
      }
    },

    highchartsCallback () {
      this.chartLoaded = true
    },
    getUser () {
      this.startLoading()

      return new Promise((resolve, reject) => {
        this.$http.get('https://pescatore.q-cumber.org/api/v1/auth/users/' + this.subject + '/', {withCredentials: true}).then(
          response => {
            this.stopLoading()
            resolve(response.data)
          },
          error => {
            this.stopLoading()
            reject(error)
          })
      })
    },
    getGroupUsers (subjectGroupName) {
      this.startLoading()

      return new Promise((resolve, reject) => {
        this.$http.get('https://pescatore.q-cumber.org/api/v1/auth/users/?limit=2000&groups__name=' + subjectGroupName, {withCredentials: true}).then(
          response => {
            this.stopLoading()
            resolve(response.data.results)
          },
          error => {
            this.stopLoading()
            reject(error)
          })
      })
    },
    performESQuery (query) {
      this.startLoading()

      let url = 'https://elasticsearch.pescatore.q-cumber.org'

      return new Promise((resolve, reject) => {
        this.$http.post(url, query, {withCredentials: true}).then(
          response => {
            resolve(response.data)
            this.stopLoading()
          },
          error => {
            // console.log('ES error', error)

            if (error.response && error.response.status == 502) {
              setTimeout(() => {
                this.performESQuery(query).then(
                  data => {
                    resolve(data)
                  },
                  error => {
                    reject(error)
                  })

                  this.stopLoading()
              }, 1999)
            } else {
              reject(error)
              this.stopLoading()
            }
        })
      })
    },
    getEntities () {
      // console.log('getEntities', this.licenseName)
      this.apiError = false
      this.notAuthorized = false

      if (this.userProfile) {
        this.getUser().then(
          (subjectUserProfile) => {
            let subjectSsoId = subjectUserProfile.sso_id
            let subjectGroupName = subjectUserProfile.groups[0]

            console.log('soggetto', subjectUserProfile, subjectSsoId, 'gruppo', subjectGroupName)

            //this.getGroupUsers(subjectGroupName).then(
            //  (groupUsers) => {
                //let groupUuids = groupUsers.map(el => {
                //  return el.sso_id
                //})

                let query = ES_QUERY(subjectSsoId, subjectGroupName, this.topic)

                this.performESQuery(query).then(
                  data => {
                    let buckets = data['aggregations']['basins']['buckets']

                    for (let i=0; i<buckets.length; i++) {
                      let el = buckets[i]

                      if (el.key == 'google-cse') {
                        this.googleCseData = el
                      } else if (el.key == 'twitter') {
                        this.twitterData = el
                      } else if (el.key == 'rss') {
                        this.rssData = el
                      }
                    }

                    console.log('data', data, 'buckets', buckets)
                  },
                  error => {
                    console.log('error', error)
                })
              }
            )
          //},
          //(error) => {
          //  console.log('error', error)
          //}
        //)

      } else {
        this.fetchUserProfile()
      }
    },
    parseEntities (data) {
      console.log('parseEntities', data)
    },
    getChartOptions () {
      console.log('getChartOptions')
    }
  },
  watch: {
    subject () {
      this.getEntities()
    },
    topic () {
      this.getEntities()
    }
  }
}
</script>

<style lang="scss">
@import "../../../../scss/theme";

.indice-i-g {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
  min-height: 240px;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: auto;
  color: #111;
  font-size: small;

  a {
    color: #111;
    text-decoration: underline;
  }

  .chart-container {
     .col {
        width: 33%;
        margin: 0;
        padding: 0;
        position: relative;
        float: left;
     }

     .clear {
       clear: both;
     }
  }
}
</style>
