<template>
  <button
    slot="actions"
    class="tools-button"
    :class="{'fill-width': fillWidth, 'right': alignRight, 'left': !alignRight, 'half-width': halfWidth }"
    :tabindex="tabIndex"
    :disabled="disabled"
    @click="clicked"
  >
  <slot></slot>
  </button>
</template>

<script>
import ButtonMixin from '../ButtonMixin'

export default {
  name: 'ToolsButton',
  mixins: [
    ButtonMixin
  ],
  props: {
    halfWidth: {
      type: Boolean,
      default: false
    },
    alignRight: {
      type: Boolean,
      default: false
    },
    tabIndex: {
      type: [String, Number],
      default: -1
    }
  }
}
</script>

<style lang="scss">
@import "../../../../scss/tools.theme";

button.tools-button {
  font-size: 1em;
  height: 100%;
  float: left;
  width: 30%;
  background: transparent;
  border: 0.25em dashed #fff;
  outline: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;

  @media ( min-width: $break-phone ) and ( min-height: 320px ) {
    font-size: 1.4em;
  }
  @media ( min-width: $break-tablet ) and ( min-height: 320px ) {
    font-size: 1.8em;
  }
}
button.tools-button:hover {
  border: 0.25em solid #fff;
}
button.tools-button.left {
  margin-right: 0.25em;
}
button.tools-button.right {
  float: right;
  margin-left: 0.25em;
}
button.tools-button.fill-width {
  width: 100%;
}
button.tools-button.half-width {
  width: 50%;
}
</style>
