<template>
  <div class="loading-dots"
    :class="{dark: dark}">
  </div>
</template>

<script>
export default {
  name: 'LoadingDots',
  props: {
    dark: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss">
$loadingdots-color: #111;
$loadingdots-color-dark: #fff;

.loading-dots {
  color: $loadingdots-color;
  font-size: 3em;
  font-weight: bold;
  display: inline-block;
}

.loading-dots.dark {
  color: $loadingdots-color-dark;
}
/* loading dots */

.loading-dots:after {
  content: ' .';
  animation: dots 2s steps(5, end) infinite;
}

.loading-dots.dark:after {
  animation: dots-dark 2s steps(5, end) infinite;
}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: $loadingdots-color;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 $loadingdots-color,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 $loadingdots-color,
      .5em 0 0 $loadingdots-color;}
}

@keyframes dots-dark {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: $loadingdots-color-dark;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);}
  60% {
    text-shadow:
      .25em 0 0 $loadingdots-color-dark,
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 $loadingdots-color-dark,
      .5em 0 0 $loadingdots-color-dark;}
}
</style>
