<template>
  <div class="error-modal"
    :class="{opened: opened, warning: type === 'warning', error: type === 'error'}">

    <div class="error"
      v-html="content"></div>

    <i class="material-icons refresh-button"
        @click="$emit('refresh')">refresh</i>

  </div>
</template>

<script>
/**
 * ErrorModal
 * 
 */

export default {
  name: 'ErrorModal',
  props: {
    type: {
      type: String,
      default: 'error'
    },
    content: {
      type: String,
      default: 'Error'
    },
    opened: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style lang="scss">
.error-modal {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  overflow: hidden auto;
  height: 100%;
  width: 100%;
  transition: opacity 0.4s;
  opacity: 0;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #fff;
      
  div.error {
    padding: 16px;
    font-size: 22px;
  }

  .refresh-button {
    cursor: pointer;
    font-size: 32px;
  }
}
.error-modal.opened {
  opacity: 1;
  z-index: 9;
}
.error-modal.error {
  background-color: rgba(110, 0, 0, 0.8);
}
.error-modal.warning {
  background-color: rgba(238, 180, 37, 1);
}
</style>
