<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <!-- mine -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.6/js/swiper.min.js"></script>
    <!-- endmine -->

    <title>elements</title>

<!--<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>-->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
<style>
  @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(/static/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(/static/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
      url(/static/iconfont/MaterialIcons-Regular.woff) format('woff'),
      url(/static/iconfont/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
  }
</style>

    <style>
      html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
      }
      body {
        background-color: #efefef;
      }
      input[type=text]::-ms-clear { display: none; width : 0; height: 0; }
      input[type=text]::-ms-reveal { display: none; width : 0; height: 0; }

      #app {
        /*font-family: Avenir, Helvetica, Arial, sans-serif;*/
        /*-webkit-font-smoothing: antialiased;*/
        /*-moz-osx-font-smoothing: grayscale;*/
      }
    </style>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but elements doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <div id="app"></div>

    <!-- built files will be auto injected -->


    <!-- mine -->
<script>
// CustomEvent Polyfill
(function () {

  if ( typeof window.CustomEvent === "function" ) return false;

  function CustomEvent ( event, params ) {
    params = params || { bubbles: false, cancelable: false, detail: undefined };
    var evt = document.createEvent( 'CustomEvent' );
    evt.initCustomEvent( event, params.bubbles, params.cancelable, params.detail );
    return evt;
   }

  CustomEvent.prototype = window.Event.prototype;

  window.CustomEvent = CustomEvent;
})();
</script>

<!--     <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script> -->
    <!-- <script src="<%= BASE_URL %>static/cdn/vue/vue.2.5.17.min.js"></script> -->
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script> -->
    <!-- <script src="<%= BASE_URL %>static/cdn/axios/axios.0.17.1.min.js"></script> -->
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/document-register-element/1.4.1/document-register-element.js"></script> -->
    <!-- <script src="<%= BASE_URL %>static/cdn/document-register-element/document-register-element.1.4.1.js"></script> -->
<!--     <script src="https://cdn.jsdelivr.net/npm/vue-custom-element@3.2.5/dist/vue-custom-element.min.js"></script> -->
    <!-- <script src="<%= BASE_URL %>static/cdn/vue-custom-element/vue-custom-element.3.6.2.min.js"></script> -->

<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.3/js/swiper.min.js"></script> -->
    <!-- <script src="<%= BASE_URL %>static/cdn/swiper/swiper.4.3.3.min.js"></script> -->

<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script> -->
    <!-- <script src="<%= BASE_URL %>static/cdn/moment/moment-with-locales.2.22.2.min.js"></script> -->

<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer_compiled.js"></script> -->
    <!-- <script src="<%= BASE_URL %>static/cdn/markerclusterer/markerclusterer.1.0.1.js"></script> -->

<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js"></script> -->
    <!-- <script src="<%= BASE_URL %>static/cdn/oms/oms.1.0.3.min.js"></script> -->

<!--     <script src="https://code.highcharts.com/7.1/highcharts.js""></script> -->
    <!-- <script src="<%= BASE_URL %>static/cdn/highcharts/7.1/highcharts.js"></script> -->

<!--     <script src="https://code.highcharts.com/7.1/modules/wordcloud.js"></script> -->
    <!-- <script src="<%= BASE_URL %>static/cdn/highcharts/7.1/modules/wordcloud.js"></script> -->

<!--     <script src="https://cdn.jsdelivr.net/npm/highcharts-vue@1.2.0/dist/script-tag/highcharts-vue.min.js"></script> -->
    <!-- <script src="<%= BASE_URL %>static/cdn/highcharts-vue/highcharts-vue.1.2.0.min.js"></script> -->

<!--     <script src="<%= BASE_URL %>static/cdn/wordcloudjs2.1.1.0.min.js"></script> -->

    <!-- endmine -->

  </body>
</html>
