<template>
  <ul class="tools-entity-list">
    <li
      v-for="item in entities" :key="item.slug"
      :class="{selected: selected && selected.slug===item.slug}"

      @click="selectItem(item)"
      >
    {{gettext(item.name)}}
    </li>
  </ul>
</template>

<script>
import EntityListAsPropMixin from '@paiuolo/pai-vue-mixins/mixins/EntityListAsPropMixin'


export default {
  name: 'ToolsEntityList',
  mixins: [
    EntityListAsPropMixin
  ],
  props: {
    selectedSlug: {
      type: String,
      default: 'public'
    }
  },
  data () {
    return {
      selected: this.selectEntityBySlug(this.selectedSlug)
    }
  },
  methods: {
    selectEntityBySlug (slug) {
      let found = this.entities.filter((item) => {
        if (item.slug === slug) {
          return true
        } else {
          return false
        }
      })
      return found.length ? found[0] : null
    },
    selectItem (i) {
      this.selected = i
      this.$emit('selected', i)
    }
  },
  watch: {
    selectedSlug (n) {
      this.selectEntityBySlug(n)
    }
  }
}
</script>

<style lang="scss">
@import "../../../../scss/tools.theme";

.tools-entity-list {
  color: #fff;
  margin: 0.4em 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;

  li {
    border: 4px dashed transparent;
    cursor: pointer;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
    list-style-type: none;
  }
  li.selected, li:hover {
    border: 4px dashed;
    font-weight: bold;
  }
}
.tools-entity-list:hover {
  li.selected {
    border: 4px dashed transparent;
  }
  li:hover {
    border: 4px dashed;
    font-weight: bold;
  }
}
</style>
 
