<template>
  <div>
    <ToolsInput
      fill-width
      v-if="showSearchInput"/>

    <ul class="tools-entity-selectable-list">
      <li v-for="item in entities" :key="item[itemsKey]"
        :class="{selected: isSelected(item)}"

        @click="selectItem(item)"
        >
      {{getItemName(item)}}
      </li>
    </ul>
  </div>
</template>

<script>
import EntityListAsPropMixin from '@paiuolo/pai-vue-mixins/mixins/EntityListAsPropMixin'

import ToolsInput from '../../input/tools/ToolsInput'


export default {
  name: 'ToolsEntitySelectableList',
  mixins: [
    EntityListAsPropMixin
  ],
  components: {
    ToolsInput
  },
  props: {
    itemsKey: {
      type: String,
      default: 'slug'
    },
    itemNameField: {
      type: String,
      default: 'name'
    },
    maxSelectable: {
      type: Number,
      default: null
    },
    previouslySelectedItems: {
      type: Array,
      default () {
        return []
      }
    }
  },
  data () {
    return {
      selectedItems: this.previouslySelectedItems,
      showSearchInput: false
    }
  },
  methods: {
    clear () {
      this.selectedItems = []
    },
    getItemName (item) {
      return item[this.itemNameField]
    },
    getItemKey (item) {
      return item[this.itemsKey]
    },
    findEntityIdxByKey (key) {
      let idx = -1
      for (let i=0; i<this.entities.length; i++) {
        let item = this.entities[i]
        if (this.getItemKey(item) === key) {
          idx = i
          break
        }
      }
      return idx
    },
    findSelectedItemIdxByKey (key) {
      let idx = -1
      for (let i=0; i<this.selectedItems.length; i++) {
        let item = this.selectedItems[i]
        if (this.getItemKey(item) === key) {
          idx = i
          break
        }
      }
      return idx
    },
    getItemByKey (key) {
      let idx = this.findEntityIdxByKey(key)
      return this.entities[idx]
    },
    selectItem (item) {
      let key = this.getItemKey(item)
      let idx = this.findSelectedItemIdxByKey(key)
      let isSelected = idx > -1
      // console.log('selectItem', item, key, idx, isSelected)
      if (isSelected) {
        this.selectedItems.splice(idx, 1)
      } else {
        if (this.maxSelectable) {
          if(this.selectedItems.length < this.maxSelectable) {
            this.selectedItems.push(item)
          } else {
            this.selectedItems.splice(this.selectedItems.length - 1, 1)
            this.selectedItems.push(item)
          }
        } else {
          this.selectedItems.push(item)
        }
      }
      this.$emit('selected', this.selectedItems)
    },
    isSelected (item) {
      let key = item[this.itemsKey]
      let idx = this.findSelectedItemIdxByKey(key)
      let isSelected = idx > -1
      // console.log('isSelected', item, idx, key, isSelected)
      return isSelected
    }
  }
}
</script>

<style lang="scss">
@import "../../../../scss/tools.theme";

.tools-entity-selectable-list {
  color: #fff;
  margin: 0.4em 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;

  li {
    border: 4px dashed transparent;
    cursor: pointer;
    margin: 0;
    padding: 1em;
    box-sizing: border-box;
    list-style-type: none;
  }
  li.selected, li:hover {
    border: 4px dashed;
    font-weight: bold;
    margin-bottom: 4px;
  }
}
.tools-entity-selectable-list:hover {
  li:hover {
    border: 4px dashed;
    font-weight: bold;
  }
}
</style>
