<template>
  <label ref="inputContainer"
    class="mdc-text-field mdc-text-field--filled mdc-text-field--textarea mdc-text-field--fullwidth mdc-text-field--no-label mdc-elevation-transition"
    >
    <textarea ref="input"
      class="mdc-text-field__input"
      :maxlength="maxLength"
      :name="name"
      :rows="rows"
      :cols="cols"
      :disabled="disabled"
      :placeholder="placeholder"
      :tabindex="tabindex"
      @input='evt=>value=evt.target.value'
      v-model="value"
      ></textarea>

    <i class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing icon-clear" role="button"
      v-show="!inputIsEmpty"
      v-html="icon"
      @click="clear"
      :tabindex="nextTabindex(tabindex)">
    </i>

    <div class="mdc-text-field-helper-line">
      <div class="mdc-text-field-character-counter"
        ref="charCounter"></div>
    </div>
  </label>
</template>

<script>
import { MDCTextFieldCharacterCounter } from '@material/textfield/character-counter'

import MdcTextFieldMixin from '../MdcTextFieldMixin'

export default {
  name: 'AccountsMdcTextarea',
  mixins: [
    MdcTextFieldMixin
  ],
  props: {
    rows: {
      type: [String, Number],
      default: 5
    },
    cols: {
      type: [String, Number],
      default: 26
    },
    maxLength: {
      type: [String, Number],
      default: 140
    }
  },
  data () {
    return {
      textFieldCharCounter: null
    }
  },
  mounted () {
    this.textFieldCharCounter = new MDCTextFieldCharacterCounter(this.$refs.charCounter)
    this.textFieldCharCounter.foundation.setCounterValue(this.content ? this.content.length : 0, this.maxLength)
    this.$on('clear', () => {
      this.textFieldCharCounter.foundation.setCounterValue(0, this.maxLength)
    })
  },
}
</script>

<style lang="scss" scoped>
@import "../../../../scss/accounts.theme";

@import "@material/textfield/mdc-text-field";
@import "@material/textfield/icon/mdc-text-field-icon";
@import "@material/elevation/mdc-elevation";


.mdc-text-field--textarea.mdc-text-field--filled {
  @include mdc-elevation(1);

  @include mdc-text-field-ink-color($on-secondary);
  @include mdc-text-field-fill-color($secondary);
  @include mdc-text-field-shape-radius(4px);

  /* material mdc-text-field mixin does not support bottom radius */
  border-radius: 4px;

  textarea {
    margin-top: 16px;
  }

  .icon-clear {
    position: absolute;
    top: 12px;
    right: 0;
  }
}.mdc-text-field--focused {
  @include mdc-elevation(6);
  @include mdc-text-field-trailing-icon-color($on-secondary);
}

</style>
