<template>
  <AccountsMdcTextField
    ref="input"
    show-icon
    v-model="addressInput"
    :name="name"
    :tabindex="tabindex"
    :placeholder="placeholder"
    :mdc-icon="mdcIcon"
    @clear="clear"
    >
  </AccountsMdcTextField>
</template>

<script>
import InputMixin from '../InputMixin'
import AccountsMdcTextField from './AccountsMdcTextField'

import GoogleMapsPlaceInputMixin from '@paiuolo/pai-vue-google-maps/mixins/GoogleMapsPlaceInputMixin'

export default {
  name: 'AccountsMdcPlaceInput',
  mixins: [
    InputMixin,
    GoogleMapsPlaceInputMixin
  ],
  components: {
    AccountsMdcTextField
  },
  props: {
    tabindex: {
      type: [String, Number],
      default: 0
    },
    placeholder: {
      type: String,
      default: 'Address'
    },
    mdcIcon: {
      type: String,
      default: 'place'
    }
  },
  data () {
    return {
      autocomplete: null,
      addressInput: '',
      computedPlace: null,
      marker: null
    }
  },
  methods: {
    clear () {
      this.addressInput = null
      this.computedPlace = null
      this.$emit('placeChanged', null)
    },
    blur () {
      this.$refs.input.blur()
    },
    getInputElement () {
      return this.$refs.input.getInputElement()
    }
  }
}
</script>

