<template>
  <div class="home">
    <img alt="Q-cumber logo" src="../assets/loader-white.png">
    <HelloWorld msg="Welcome to q-custom-elements"/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    HelloWorld
  }
}
</script>

<style>
.home {
  text-align: center;
  padding-top: 64px;
}
</style>
