t<template>
  <label ref="inputContainer"
    class="mdc-text-field mdc-text-field--textarea mdc-text-field--with-trailing-icon mdc-text-field--textarea mdc-text-field--fullwidth"
	:class="{dark: dark}"
    >

    <span class="mdc-text-field__ripple"></span>

    <textarea ref="input"
      class="mdc-text-field__input"
      :name="name"
      :rows="rows"
      :cols="cols"
      :disabled="disabled"
      :placeholder="placeholder"
      :required="required"
      @input='evt=>value=evt.target.value'
      v-model="value"
      ></textarea>

    <i class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing icon-clear" role="button"
      ref="icon"
      v-html="icon"
      @click="clear"
      :tabindex="nextTabindex(tabindex)"></i>

    <span class="mdc-floating-label" id="my-label-id">{{label}}</span>
    <span class="mdc-line-ripple"></span>

  </label>
</template>

<script>
import MdcTextFieldMixin from '../MdcTextFieldMixin'

export default {
  name: 'LoyaltyMdcTextarea',
  mixins: [
    MdcTextFieldMixin
  ],
  props: {
    rows: {
      type: [String, Number],
      default: 8
    },
    cols: {
      type: [String, Number],
      default: 30
    },
    dark: {
      type: Boolean,
      default: false
    },
    content: {
      type: String,
      default: ''
    }
  },
  methods: {
    clear () {
      this.value = ''
      this.$refs.input.value = ''
      this.$refs.input.focus()
      this.$emit('clear', null)
      this.$emit('input', null)
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../../../../scss/loyalty.theme";

@import "@material/textfield/mdc-text-field";
@import "@material/textfield/icon/mdc-text-field-icon";

.mdc-text-field--textarea {
  @include mdc-text-field-trailing-icon-color(#fff);

  @include mdc-text-field-ink-color(#111);
  @include mdc-text-field-label-color($mdc-theme-secondary);
  @include mdc-text-field-caret-color($selected);

  @include mdc-text-field-bottom-line-color($mdc-theme-secondary);
  @include mdc-text-field-hover-bottom-line-color($mdc-theme-secondary);

  @include mdc-text-field-line-ripple-color($selected);

  .icon-clear {
    position: absolute;
    top: 12px;
    right: 0;
  }

  .mdc-text-field__input {
    padding-left: 0;
  }

}
.mdc-text-field--textarea.mdc-text-field--focused {
  @include mdc-text-field-trailing-icon-color($selected);
}

.dark.mdc-text-field--textarea {
  @include mdc-text-field-ink-color(#fff);
  @include mdc-text-field-label-color(#fff);
  @include mdc-text-field-caret-color(#fff);

  @include mdc-text-field-bottom-line-color(#fff);
}
.dark.mdc-text-field--textarea.mdc-text-field--focused {
  @include mdc-text-field-caret-color($selected);

}
</style>
