<template>
  <div class="friendly-iframe">
    <vue-friendly-iframe
      class="vue-friendly-iframe"
      v-if="url"
      ref="iframe"
      :src="url">
    </vue-friendly-iframe>
  </div>
</template>

<script>
import VueFriendlyIframe from 'vue-friendly-iframe'

export default {
  name: 'FriendlyIframe',
  components: {
    VueFriendlyIframe
  },
  props: {
    url: {
      type: String,
      default: null
    }
  }
}
</script>

<style lang="scss">
$break-phone: 480px;
$break-tablet: 840px;

.friendly-iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  .vue-friendly-iframe {
    width: 100%;
    height: 100%;
  }
  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}
</style>
