<template>
  <div class="tools-input"
    :class="{thin: thin, 'fill-width': fillWidth, 'filled': (value && value !== '')}">
    <input
      ref="input"
      @input='evt=>value=evt.target.value'
      :name="name"
      :tabindex="tabindex"
      :placeholder="placeholder"
      @keyup.enter="$emit('submitted')"
      v-model="value"
      />
    <i class="material-icons"
      v-if="alwaysClearable || (value && value !== '')"
      @click="clear">clear</i>
  </div>
</template>

<script>
import InputMixin from '../InputMixin'

export default {
  name: 'ToolsInput',
  mixins: [
    InputMixin
  ]
}
</script>

<style lang="scss">
@import "../../../../scss/tools.theme";

.tools-input {
  position: relative;
  overflow: hidden;
  display: inline-block;
  display: inline-flex;

  input {
    padding: 0.4em 0.3em 0;
    color: #fff;
    background-color: transparent;
    border: none;
    font-weight: bold;
    border-bottom: 4px dashed #fff;
    outline: none;
    width: 100%;

    font-size: 20px;
    line-height: 2em;

    white-space: nowrap;
    text-overflow: ellipsis;

    @media (min-width: $break-phone){
      font-size: 2em;
      line-height: 2em;
    }
  }
  input::placeholder {
    color: #fff;
    font-family: monospace;
  }
  input:hover {
    border-bottom: 4px solid #fff;
  }

  i {
    position: absolute;
    right: 0.3em;
    top: 0.4em;
    cursor: pointer;
    color: #fff;

    font-size: 22px;
    line-height: 2em;

    @media (min-width: $break-phone){
      font-size: 2em;
      line-height: 2em;
    }
  }
}
.tools-input.thin {
  input {
    padding: 0 0.3em 0;
  }
  i {
    top: 0;
  }
}
.tools-input.fill-width {
  width: 100%;
}
.tools-input.filled {
  input {
    padding-right: 1.6em;
  }
}
</style>