<template>
  <div class="tools-file-input">
    <input type="file"
      ref="input"
      :tabindex="tabindex"
      @change="handleFileUpload"/>
  </div>
</template>

<script>
import InputMixin from '../InputMixin'

export default {
  name: 'ToolsFileInput',
  mixins: [
    InputMixin
  ],
  methods: {
    clear () {
      this.value = null
      this.$refs.input.value = null
      this.$emit('change', null)
    },
    handleFileUpload () {
      this.$emit('change', this.$refs.input.files[0])
    }
  }
}
</script>

<style lang="scss">
@import "../../../../scss/tools.theme";

.tools-file-input {
  position: relative;

  input {
    width: 100%;
    height: 100%;
    padding: 2em;
    margin: 0;
    border: 4px dashed #fff;
    box-sizing: border-box;
    color: #fff;
  }
}
</style>
