<template>
  <div class="tools-input">
    <ToolsInput
      ref="input"
      v-model="addressInput"
      :name="name"
      :tabindex="tabindex"
      :placeholder="placeholder"
     ></ToolsInput>
  </div>
</template>

<script>
import InputMixin from '../InputMixin'
import ToolsInput from './ToolsInput'
import GoogleMapsPlaceInputMixin from '@paiuolo/pai-vue-google-maps/mixins/GoogleMapsPlaceInputMixin'

export default {
  name: 'ToolsPlaceInput',
  mixins: [
    InputMixin,
    GoogleMapsPlaceInputMixin
  ],
  components: {
    ToolsInput
  },
  props: {
    placeholder: {
      type: String,
      default: 'Address'
    }
  },
  methods: {
    getInputElement () {
      return this.$refs.input.getInputElement()
    }
  }
}
</script>

<style lang="scss">
@import "../../../../scss/tools.theme";

</style>