<template>
  <div class="tools-textarea">
    <textarea
      ref="input"
      @input='evt=>value=evt.target.value'
      :tabindex="tabindex"
      :name="name"
      :placeholder="placeholder"
      v-model="value"
    ></textarea>
  </div>
</template>

<script>
import InputMixin from '../InputMixin'

export default {
  name: 'ToolsTextarea',
  mixins: [
    InputMixin
  ],
  props: {
    content: {
      type: String,
      default: ''
    }
  },
  methods: {
    clear () {
      this.value = ''
      this.$refs.input.value = ''
      this.$refs.input.focus()
      this.$emit('clear', null)
      this.$emit('input', null)
    }
  }
}
</script>

<style lang="scss">
@import "../../../../scss/tools.theme";

.tools-textarea {
  overflow: hidden;
  display: inline-block;
  display: inline-flex;

  position: relative;
  width: 100%;

  border-bottom: 0.3em dashed #fff;
  padding: 16px 12px 11px 12px;
  box-sizing: border-box;

  textarea {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 2.2em;
  }
  textarea::placeholder {
    color: #fff;
    font-family: monospace;
  }
}
.tools-textarea:hover {
  border-bottom: 0.3em solid #fff;
}
</style>
