<template>
  <div>
    <h3 v-for="(item, key) in steps" :key="key">
      <b>{{key + 1}}. </b> {{gettext(item)}}
    </h3>
   </div>
</template>

<script>
/* global gettext */

import GettextMixin from '@paiuolo/pai-vue-gettext/mixins/GettextMixin'

export default {
  name: 'ToolsStepOperationInstructions',
  mixins: [
    GettextMixin
  ],
  props: {
    uploadType: {
      type: Object,
      default: null
    },
    uploadTypeFromRouter: {
      type: Boolean,
      default: false
    },
    stepOperation: {
      type: Object,
      default: null
    }
  },
  computed: {
    steps () {
      let s = []

      for (let i=0; i<this.stepOperation.steps.length; i++) {
        let step = this.stepOperation.steps[i]
        let key = step.key
        // console.log('step', step, key.indexOf('_'))
        if (key.indexOf('_') === -1 && key.indexOf('instructions') === -1) {
          s.push(gettext(step.description))
        }
      }

      return s
    }
  }
}
</script>
