<template>
  <div class="tools-step-operation-step swiper-slide"
       :class="{presentation: presentation, printable: printable}">
    <div class="step">
      <div class="card" v-show="!hidden"
        :class="{wide: wide}">

        <div v-if="searchable" class="placeholder"></div>

        <div class="corpo" v-show="!hideBody" :class="{searchable: searchable}">
          <slot></slot>
        </div>
        <div class="actions" v-show="!hideActions && !presentation">
          <slot name="actions"></slot>
        </div>
        <div class="title-bar"
          v-if="title && !presentation">
          <slot name="title">
            <ToolsStepOperationStepInput v-if="searchable"
              :title="title"
              :searchable="searchable"
              @input="searchInput"
              @clear="searchClear"/>
            <h1 v-else
              v-html="title"></h1>
          </slot>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ToolsStepOperationStepInput from './ToolsStepOperationStepInput'


export default {
  name: 'ToolsStepOperationStep',
  components: {
    ToolsStepOperationStepInput
  },
  props: {
    hidden: {
      type: Boolean,
      default: true
    },
    hideBody: {
      type: Boolean,
      default: false
    },
    searchable: {
      type: Boolean,
      default: false
    },
    hideActions: {
      type: Boolean,
      default: false
    },
    wide: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: null
    },
    backgroundColor: {
      type: String,
      default: 'transparent'
    },
    presentation: {
      type: Boolean,
      default: false
    },
    printable: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    searchInput (s) {
      this.$emit('input', s)
    },
    searchClear (s) {
      this.$emit('clear', s)
    }
  }
}
</script>

<style lang="scss">
@import "../../../../../scss/tools.theme";

.tools-step-operation-step {
  display: table;
  table-layout: fixed;
  word-break: break-word;
  color: #fff;

  .step {
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    height: 100%;
    width: 100%;

    padding: 1em;
    padding-bottom: 1.3em;
    padding-top: 2.8em;
    padding-top: calc(1em + 36px);

    @media ( min-width: $break-phone ) {
      padding-top: 1em;
    }

    .card {
      box-sizing: border-box;
      position: relative;
      height: 100%;
      max-width: 800px;
      margin: 0 auto;

      @media ( min-height: 560px ) {
        height: 520px;
      }
      @media ( max-width: $break-phone ) and (min-height: 520px){
        height: calc(520px - 48px);
      }
      @media ( max-width: $break-phone ) and (min-height: 700px){
        height: calc(700px - 48px);
      }

      .title-bar {
        position: absolute;
        top: 0; left: 0; right: 0;
        margin: 0;
        padding: 0;
      }

      .placeholder {
        height: 52px;

        @media (min-width: $break-phone){
          height: 72px;
        }
      }

      .corpo {
        height: 84%;
        width: 100%;
        overflow: hidden;
        overflow-y: auto;
        position: absolute;
        box-sizing: border-box;

        @media ( max-height: 520px ) {
          height: 80%;
        }
        @media ( max-height: 320px ) {
          height: 72%;
        }
      }

      .corpo.searchable {
        height: 70%;
        height: calc(84% - 52px);

        @media (min-width: $break-phone){
          height: calc(84% - 72px);
        }
        @media (max-height: 520px) {
          height: 80%;
          height: calc(80% - 72px);
        }
        @media (max-height: 320px) {
          height: 72%;
          height: calc(72% - 72px);
        }
      }

      .actions {
        height: 14%;
        width: 100%;
        position: absolute;

        bottom: 0;
        left: 0;

        @media ( max-height: 520px ) {
          height: 18%;
        }
        @media ( max-height: 320px ) {
          height: 28%;
        }
      }

      .checkbox {
        width: 2em;
        height: 2em;
        background-color: #fff;
        color: #111;
      }

      .tools-file-input {
        height: 40%;
      }

      .tools-textarea {
        height: 80%;
      }

      h1 {
        margin: 1em 0 0.6em 0;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2em;
        /*line-height: 2em;*/

        @media ( min-width: $break-phone ) {
          margin: 0 0 0.6em 0;
          font-size: 2.6em;
        }
        @media ( min-height: 520px ) {
          margin-top: 0;
        }
        @media ( max-height: 520px ) {
          margin-top: 0.5em;
        }
      }
    }

    .card.wide {
      height: 100%;
      width: 100%;
      max-width: 1024px;

      @media ( min-width: $break-phone ) {
        margin-top: 56px;

        height: calc(100% - 56px);
      }

      .corpo {
        height: 88%;

        @media ( max-height: 420px ) {
          height: 78%;
        }
      }
      .actions {
        height: 10%;

        @media ( max-height: 420px ) {
          height: 18%;
        }
      }
    }
  }
}.presentation{
   .corpo {
     height: 100%;
   }
  .actions {
    height: 0;
  }
 }
</style>
