<template>
  <div class="tools-step-operation-step-input"
    :style="{'background-color': backgroundColor}">

    <ToolsInput
      thin
      fill-width
      auto-focus
      always-clearable
      ref="input"
      :placeholder="formattedTitle"
      @input="searchInput"
      @clear="searchClear"
      />

  </div>
</template>

<script>
import ToolsInput from '../../../input/tools/ToolsInput'

export default {
  name: 'ToolsStepOperationStepInput',
  components: {
    ToolsInput
  },
  props: {
    title: {
      type: String,
      default: null
    },
    backgroundColor: {
      type: String,
      default: 'transparent'
    }
  },
  data () {
    return {
      searching: false
    }
  },
  computed: {
    formattedTitle () {
      if (this.title) {
        return this.title.toUpperCase()
      } else {
        return ''
      }
    }
  },
  methods: {
    searchInput (s) {
      this.$emit('input', s)
    },
    searchClear (s) {
      this.$emit('clear', s)
    }
  }
}
</script>

<style lang="scss">
@import "../../../../../scss/tools.theme";

.tools-step-operation-step-input {
  position: relative;
  /*height: 64px;*/
  overflow: hidden;
  /*text-overflow: ellipsis;*/

  h1 {
    margin: 0;
    text-transform: uppercase;
    padding-left: 64px;
    line-height: 64px;
    font-size: 2.2em;
    line-height: 2em;
  }

  i {
    position: absolute;
    top: 0; left: 0;
    width: 64px;
    height: 64px;
    line-height: 64px;
    font-size: 42px;
    text-align: center;
    cursor: pointer;
  }
}
</style>
