<template>
  <div class="drawer-layout"
    ref="container"
    :class="{narrow: isNarrow || forceNarrow}" >

    <div class="background" :class="{'drawer-opened': drawerOpened}">
      <slot name="background"></slot>
    </div>

    <div class="top-left fade-enter-active"
      :class="{hidden: drawerOpened}">
      <slot name="top-left"></slot>
    </div>

    <div class="top-right fade-enter-active"
      :class="{hidden: (drawerOpened || hideAvatar)}">
      <slot name="avatar">
        <i
          class="icon material-icons open-drawer"
          @click="openDrawer">
          menu
        </i>
      </slot>
    </div>

    <div class="drawer"
      ref="drawer"
      :class="{'opened': drawerOpened}">

      <i class="icon material-icons close-drawer"
        @click="closeDrawer">
        close
      </i>

      <div class="drawer-list">
        <slot name="drawer"></slot>
      </div>
    </div>

    <slot name="content"></slot>

    <div class="bottom-left fade-enter-active"
      :class="{hidden: drawerOpened}">
      <slot name="bottom-left"></slot>
    </div>

    <div class="bottom-right fade-enter-active"
      :class="{hidden: drawerOpened}">
      <slot name="bottom-right"></slot>
    </div>

    <div class="footer click-disabled">
      <slot name="footer"></slot>
    </div>

  </div>
</template>

<script>


export default {
  name: 'DrawerLayout',
  props: {
    size: {
      type: [String, Number],
      default: 200
    },
    hideAvatar: {
      type: Boolean,
      default: false
    },
    forceNarrow: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      drawerOpened: false,

      elementWidth: 0,
      narrowBreakpoint: 810,
      isNarrow: false
    }
  },
  mounted () {
    window.addEventListener('resize', () => {
      this.resize()
    })
  },
  methods: {
    resize () {
      let el = this.$refs.container

      if (el) {
        let w = el.clientWidth

        if (w != this.elementWidth) {
          this.elementWidth = w

          if (w <= this.narrowBreakpoint) {
            this.isNarrow = true
          } else {
            this.isNarrow = false
          }
        }

        this.$emit('resize')
      }
    },
    openDrawer() {
      this.drawerOpened = true
    },
    closeDrawer() {
      this.drawerOpened = false
    }
  },
  watch: {
    drawerOpened (n, o) {
      setTimeout(()=>{
        this.$emit('resize')
      }, 401)
    },
  }
}
</script>

<style lang="scss">
.drawer-layout {
  position: relative;
  width: 100%;
  height: 100%;

  h4.avatar-item {
    margin: 14px 0;
  }

  .hidden {
    opacity: 0;
    pointer-events: none;
  }

  .click-disabled {
    pointer-events: none;
  }

  .top-left {
    position: absolute;
    top: 0;
    left: 0;
    margin: 8px 32px;
    width: 30%;
  }

  .top-right {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
  }
   
  .bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 8px;
    width: 30%;
  }

  .bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 8px;
    width: 30%;
    text-align: right;
  }

  i.icon.material-icons.open-drawer {
    cursor: pointer;
    /*color: rgb(255, 82, 111);*/
    color: #fff;
    font-size: 32px;
    margin: 4px;
    padding: 8px;
    /*border: 4px solid rgb(255, 82, 111);*/
    border: 4px solid #fff;
    background-color: rgba(255,255,255,0.5);
    border-radius: 999px;
  }
  i.icon.material-icons.open-drawer:hover {
    color: rgb(255, 26, 64);
    border: 4px solid rgb(255, 26, 64);
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: width 0.4s;
  }
  .background.drawer-opened {
    width: 60%;
  }

  .drawer {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    transition: width 0.4s;
    overflow: hidden;

    background-color: rgba(0,0,0,0.9);

    .icon {
      color: #fff;
      user-select: none;
    }.close-drawer{
      position: absolute;
      top: 0;
      right: 0;
      margin: 16px;
      cursor: pointer;
    }

    .drawer-list {
      height: 100%;
      padding: 1em;
      box-sizing: border-box;
      overflow: hidden;
      overflow-y: auto;
      color: #888;

      margin-top: 32px;

      .element {
        cursor: pointer;

        .media,
        .info {
          float: left;
          overflow: hidden;
        }
        .clear {
          clear: both;
        }
        .media {
          width: 32%;
          word-break: break-word;
          padding: 0 0.5em;
          box-sizing: border-box;
        }
        .info {
          width: 67%;

          > div {
            border-left : 2px solid #fff;
            padding-left: 1em;
          }
        }
      }
      .element {
        overflow: hidden;
        > p {
          margin-bottom: 6px;
        }
      }
      .element:hover {
        > p {
          border-left: 3px solid #888;
          padding-left: 10px;
        }
      }
      .element.active {
        font-weight: bold;
        color: #fff;
        > p {
          border-left: 3px solid #fff;
          padding-left: 10px;
        }
      }
    }
  }
  .drawer.opened {
    width: 40%;
  }

  .footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 32px;
    color: #111;
  }
}

.drawer-layout.narrow {
  .drawer {
    width: 100%;
    height: 0%;
    right: 0;
    top: auto;
    bottom: 0;

    transition: height 0.4s;

    .icon.close-drawer{
      margin: 12px;
    }
  }
  .drawer.opened {
      width: 100%;
      height: 40%;
  }

  .drawer-list::-webkit-scrollbar {
    display: none;
  }

  .background {
    transition: height 0.4s;
  }

  .background.drawer-opened {
      width: 100%;
      height: 60%;
  }

  .drawer-list {
    padding-right: 40px;
    padding-top: 0;

    margin-top: 40px;

    > h2 {
      display: none;
      /*
      color: #999;
      margin: 15px 0 0;
      font-size: 16px;
      */
    }

    .element {
      padding-top: 0;
      font-size: 90%;

      .media {
        width: 100%;
        border-bottom : 2px solid #fff;

        > h2 {
          text-align: right;
        }
      }
      .info {
        width: 100%;

        > div {
          border-left : none;
          padding-left: 0;

          h2 {
            font-size: 1.6em;
          }
        }
      }
    }

    -ms-overflow-style: none;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .8s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
