
p,h1,h2,h3,h4,span,a,li {
  font-family: Lato, Arial, sans-serif;
}

a {
  color: $secondary;
  text-decoration: none;
}

h2 {
  font-weight: normal;
}

.corsivo {
  font-family: 'Just Another Hand', cursive;
}
