<template>
  <div class="ig-dashboard" :class="{'as-list': asList, 'is-negative': isNegative}" :key="locale">

    <LoadingBox
      v-if="loading"
      class="loading-box" />

    <LoginRequiredMask
      v-if="!hideLoginMask && !loading"
      :already-logged-in="userProfile !== null"
      :login-url="loginUrl" />

    <ErrorModal
      v-if="apiError || notAuthorized"
      opened
      :type="(notAuthorized) ? 'warning' : 'error'"
      :content="notAuthorized ? gettext('Service is not enabled') : gettext('Error contacting server, try later.')"
      @refresh="getEntities()" />

    <MdcDialog
      class="dialog"
      ref="dialog"
      :show-actions="!sendingEvent"
      @closed="dialogClosed" >
      <h2>{{ sendEventText }}</h2>

      <AccountsMdcButton
        slot="actions"
        inverted
        data-mdc-dialog-action="close" >{{gettext('No')}}</AccountsMdcButton>
      <span class="divider" slot="actions">&nbsp;</span>
      <AccountsMdcButton
        slot="actions"
        red
        @click="sendDownvoteUrlEvent"
         >{{gettext('Si')}}</AccountsMdcButton>
    </MdcDialog>


    <div class="logo" v-if="!asList">
      <img src="../../../assets/elements/loader/loader.png" />
    </div>

    <div class="info-button"
      v-if="!asList"
      :class="{ opened: infoOpened }"
      @click="infoOpened = !infoOpened">
      <i class="material-icons" v-html="infoOpened ? 'close' : 'info'"></i>
    </div>

    <div class="info"
      v-if="!asList && infoOpened"
      :class="{ opened: infoOpened }">
      <h1>Info</h1>
      <p>
        <big>I grafici rappresentano la percezione dell'associazione tra il tema <b>"{{topicName}}"</b> ed il soggetto <b>"{{subjectName}}"</b></big>
      </p>
      <h4  class="bottomless">{{gettext('Parameters')}}</h4>
      <p>
        <b>{{gettext('Subject')}}:</b> {{subjectName}} <br/>
        <b>{{gettext('Topic')}}:</b> {{topicName}} <br/>
      </p>
      <p>
        Timeline mostra il numero di risultati di ciascuna settimana.
      </p>
      <p>
        Histogram mostra la distribuzione dei risultati per ciascuna area di ricerca.
      </p>
      <p>
        Wordcloud riporta le parole che compaiono più di frequente con dimensione e colore proporzionali al numero di occorrenze.
      </p>
      <p>
        In basso la lista degli articoli reperiti nell'intervallo selezionato.
      </p>
    </div>

    <div class="trend" v-if="asList">
        trend
    </div>

    <div class="header">

      <h2 class="topic" v-if="topic">
        {{topicName}}
      </h2>
      <h2 class="subject" v-if="subject">
        <i>{{subjectName}}</i>
      </h2>
<!--      <h2>
        {{lowerBound ? lowerBound.format('LLL') : ''}} - {{upperBound ? upperBound.format('LLL') : ''}}
      </h2>-->
<!--      <p>
        {{startSelected ? startSelected.format('LLL') : ''}} - {{endSelected ? endSelected.format('LLL') : ''}}
      </p>-->
    </div>

    <div class="trend"
      v-if="!updatingTimeline" >
        <IGTrend
          :trend="trend" />
    </div>

    <div class="container">
      <div class="timeline">
        <IGTimeline
           title="Timeline"
          :subject="subject"
          :topic="topic"

          @loaded="timelineLoaded"
          @updated="timelineUpdated"
          @pointsSelected="pointsSelected"
          @legendsSelected="legendsSelected"  />
      </div>

      <div class="histogram"
        v-if="!updatingTimeline" >
        <p style="text-align: center; font-size: 19px;">Histogram</p>
        <div style="position: relative; float: left; width: 33%;">
        <IGHistogram
           title="Web"
           v-if="selectedAreas.indexOf('web') > -1"
           basin="google-cse"
           :subject="subject"
           :topic="topic"
           :from="dateAsString(startDate)"
           :to="dateAsString(endDate)" />
         </div>
         <div style="position: relative; float: left; width: 33%;">
         <IGHistogram
            title="Social"
            v-if="selectedAreas.indexOf('social') > -1"
            basin="twitter"
            :subject="subject"
            :topic="topic"
            :from="dateAsString(startDate)"
            :to="dateAsString(endDate)" />
          </div>
          <div style="position: relative; float: left; width: 33%;">
          <IGHistogram
             title="Feed"
             v-if="selectedAreas.indexOf('feed') > -1"
             basin="rss"
             :subject="subject"
             :topic="topic"
             :from="dateAsString(startDate)"
             :to="dateAsString(endDate)" />
          </div>
          <div style="clear: both;"></div>
      </div>

      <div class="wordcloud"
        v-if="!updatingTimeline" >
        <IGWordCloud
          show-excluded
          title="Word Cloud"
          :subject="subject"
          :topic="topic"
          :basins="selectedBasins.join(',')"
          :from="dateAsString(startDate)"
          :to="dateAsString(endDate)"
          :excluded-words="topic + '|' + subjectName + '|quibrescia'" />
      </div>

      <div class="list urls"
        v-if="!updatingTimeline" >
          <IGUrls
            title="Urls"
            size="5"
            :subject="subject"
            :topic="topic"
            :basins="selectedBasins.join(',')"
            :from="dateAsString(startDate)"
            :to="dateAsString(endDate)"
            @voteDown="downvoteUrl"
            />
      </div>
    </div>

  </div>
</template>

<script>
import moment from 'moment'

import DjangoSsoAppUserElementMixin from '@paiuolo/django-sso-app-vue-mixins/mixins/DjangoSsoAppUserElementMixin'
import SendEventMixin from '../../../mixins/SendEventMixin'
import IGAreasMixin from './IGAreasMixin'

import LoginRequiredMask from '../user/LoginRequiredMask'
import LoadingBox from '../../elements/loader/LoadingBox'
import ErrorModal from '../../elements/modal/ErrorModal'
import MdcDialog from '../../elements/dialog/MdcDialog'
import AccountsMdcButton from '../../elements/button/accounts/AccountsMdcButton'
import IGTrend from './IGTrend'
import IGTimeline from './IGTimeline'
import IGHistogram from './IGHistogram'
import IGWordCloud from './IGWordCloud'
import IGUrls from './IGUrls'


/**
 * IGDashboard
 *
 */
const _sendEventText = 'Segnalare il link come non pertinente?'
const _sendingEventText = 'Invio..'
const _eventSentText = 'Grazie della segnalazione!'

export default {
  name: 'IGDashboard',
  mixins: [
    DjangoSsoAppUserElementMixin,
    SendEventMixin,
    IGAreasMixin
  ],
  components: {
    LoginRequiredMask,
    LoadingBox,
    ErrorModal,
    MdcDialog,
    AccountsMdcButton,

    IGTrend,
    IGTimeline,
    IGHistogram,
    IGWordCloud,
    IGUrls
  },
  props: {
    userProfileUrl: {
        type: String,
        default: 'https://accounts.q-cumber.org/api/v1/auth/user/'
    },
    loginUrl: {
        type: String,
        default: 'https://accounts.q-cumber.org/login/'
    },
    hideLoginMask: {
        type: Boolean,
        default: false
    },
    subject: {
        type: String,
        default: null
    },
    subjectName: {
        type: String,
        default: null
    },
    topic: {
        type: String,
        default: null
    },
    topicName: {
        type: String,
        default: null
    },
    asList: {
        type: Boolean,
        default: false
    }
  },
  mounted () {
    this.fetchUserProfile()
    this.startLoading()
  },
  data () {
    return {
      isNegative: true,

      apiError: false,
      notAuthorized: false,

      infoOpened: false,

      _startDate: null,
      _endDate: null,
      startDate: null,
      endDate: null,

      updatingTimeline: true,
      trend: '0',

      downvotingUrl: null,
      sendEventText: this.gettext(_sendEventText),
      sendingEvent: false,
    }
  },
  methods: {
    dateAsString(d) {
      return moment(d).toISOString()
    },
    updateTrend (obj) {
      let allvals = null
      for (var key in obj.data) {
        // check if the property/key is defined in the object itself, not in parent
        if (obj.data.hasOwnProperty(key)) {
          if (this.selectedBasins.indexOf(key) > -1) {
            //console.log('updateTrend', key, obj.data[key]);
            if (allvals) {
              for (let i=0; i<obj.data[key].length; i++) {
                allvals[i] += obj.data[key][i]
              }
            } else {
              allvals = obj.data[key].slice()
            }
          }
        }
      }
      this.trend = allvals.join(',')
    },
    timelineLoaded(obj) {
      //console.log("timelineLoaded", obj)
      this.startDate = obj.startDate
      if (!this._startDate) this._startDate = moment(this.startDate)
      this.endDate = obj.endDate
      if (!this._endDate) this._endDate = moment(this.endDate)
      this.updateTrend(obj)
      setTimeout(() => {
        this.updatingTimeline = false
      }, 1000)
    },
    timelineUpdated (obj) {
      //console.log("timelineUpdated", obj)
      this.updatingTimeline = true
      this.startDate = obj.startDate
      this.endDate = obj.endDate
      this.updateTrend(obj)
      setTimeout(() => {
        this.updatingTimeline = false
      }, 1000)
    },
    pointsSelected (obj) {
      let selectedIntervals = obj.selectedPoints.map((x) => {
        return moment(x.category, 'LL')
      })
      //console.log("selectedIntervals", selectedIntervals)
      this.updatingTimeline = true
      if (selectedIntervals.length == 0) {
        //console.log('no interval')
        this.startDate =  moment(this._startDate)
        this.endDate =  moment(this._endDate)
      } else if (selectedIntervals.length == 1) {
        //console.log('1 interval')
        this.startDate = moment(selectedIntervals[0].subtract(1, 'weeks'))
        this.endDate = moment(selectedIntervals[0].add(1, 'weeks'))
      } else {
        //console.log('n intervals')
        this.startDate = moment(selectedIntervals[0].subtract(1, 'weeks'))
        this.endDate = moment(selectedIntervals[selectedIntervals.length - 1])
      }
      this.updateTrend(obj)
      setTimeout(() => {
        this.updatingTimeline = false
      }, 1000)
    },
    legendsSelected (obj) {
      //console.log('legendsSelected', l)
      this.updatingTimeline = true
      this.selectedAreas = obj.selectedLegends
      this.updateTrend(obj)
      setTimeout(() => {
        this.updatingTimeline = false
      }, 1000)
    },
    downvoteUrl (item) {
      //console.log('downvote Url', item)
      this.downvotingUrl = item
      this.$refs.dialog.open()
    },
    sendDownvoteUrlEvent () {
      this.sendingEvent = true
      this.sendEventText = this.gettext(_sendingEventText)

      let downvotedUrlObject = {
        "type": "ig_url_downvoted",
        "timestamp": Date.now() / 1000,
        "location": {  // User location
          "lat": this.userProfile.profile.latitude,
          "lon": this.userProfile.profile.longitude,
        },

        "stack": "data",
        "sso_id": this.userProfile.profile.sso_id,

        "referer": window.location.href,  // "URL del tool",

        "subject": this.subject,
        "topic": this.topic,

        "uuid": this.downvotingUrl.uuid,
        "url": this.downvotingUrl.doc.meta.url,

      }
      //console.log('sending downvote event', downvotedUrlObject)

      this.sendEventP(downvotedUrlObject).then(
        succesRessponse => {
          //console.log('sendEvents listData', succesRessponse)
          this.$refs.dialog.close()
        },
        errorResponse => {
          console.log('error sending events', errorResponse)
          this.$refs.dialog.close()
        })
    },
    dialogClosed () {
      //console.log('dialog closed')
      this.sendingEvent = false
      this.downvotingUrl = null
      this.sendEventText = this.gettext(_sendEventText)
    }
  },
  computed: {
    selectedBasins () {
      let B = this.areas.filter((x)=>{
        return this.selectedAreas.indexOf(x.slug) > -1
      }).map((x)=>{
        return x.basins[0]
      })
      return B
    }
  },
  watch: {
    updatingTimeline (n, o) {
      if (n) {
        this.startLoading()
      } else {
        this.stopLoading()
      }
    }
  }
}
</script>

<style lang="scss">
@import "../../../scss/theme";

.ig-dashboard {
  overflow: hidden;
  position: relative;
  padding: 15px;
  box-sizing: border-box;
  color: #111;

  > div {
    box-sizing: border-box;
  }

  .dialog {
    .divider {
      width: 15px;
    }
  }
  .logo {
    position: absolute;
    top: 12px;
    left: 12px;

    > img {
      width: 24px;
      height: 24px;
    }

    @media screen and (min-width: $break-tablet) {
      top: 22px;
      left: 22px;
    }
  }

  .header {
    overflow: hidden;
    text-align: center;

    .basin-selector {
      select {
        line-height: 24px;
        font-size: 14px;
        margin: 10px 0;
        padding: 5px;
        border-radius: 5px;
        background-color: #fefefe;
        outline: none;
      }
    }

    h2 {
      margin: 8px 0;
      font-size: 18px;
      word-break: break-word;

      @media screen and (min-width: $break-tablet) {
        font-size: 24px;
      }
    }

    h2:first-of-type {
      margin-top: 32px;
    }

    h2.topic {
      text-transform: uppercase;
    }
  }
  .trend {
    margin-bottom: 16px;
  }
  .info {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #111;
    color: #fff;
    padding: 16px;
    overflow: hidden auto;
    height: 100%;
    width: 100%;
    transition: opacity 0.4s;
    opacity: 0;
    z-index: 0;

    > p {
      font-size: 90%;
    }

    .selected-licenses {
      span:not(:last-of-type):after {
        content: ','
      }
      span:last-of-type:after {
        content: '.'
      }
    }

    @media screen and (min-width: $break-phone) {
      padding: 32px;
    }
    @media screen and (min-width: $break-tablet) {
      padding: 48px;
    }
  }
  .info.opened {
    opacity: 1;
    z-index: 1;
  }

  .info-button {
    padding: 0;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    z-index: 2;
    color: #111;

    @media screen and (min-width: $break-tablet) {
        top: 22px;
        right: 22px;
    }
  }
  .info-button:active {
    color: rgb(255,64,129);
  }
  .info-button.opened {
    color: #fff;
  }

  .container {
    box-sizing: border-box;
/*     margin: 16px 0; */
    position: relative;
    overflow: hidden;

    > .timeline {
      box-sizing: border-box;
      clear: both;
      padding: 0 16px;
      width: 100%;
      height: 280px;
      margin-bottom: 16px;

      @media screen and (min-width: $break-phone) {
        padding: 0 16px;
      }
    }

    .wordcloud, .list {
      clear: both;
      overflow: hidden;
      position: relative;
      box-sizing: border-box;
      width: 100%;
      padding: 0;
    }

    .wordcloud {
      margin-bottom: 16px;

      > .chart {
        height: 380px;
      }
    }

    .list {
      .show-latest-articles {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    .histogram {
      margin-bottom: 16px;
    }

    .urls {
      /*height: 320px;
      overflow-y: scroll;*/
    }

    h3 {
      text-align: center;
      text-transform: uppercase;
      font-size: small;
    }
  }
  .bottomless {
    margin-bottom: 0;
  }
  .clear.show-more {
    background-color: #efefef;
    padding: 8px 16px 10px;
    text-align: right;
    border-top: 1px solid #dfdfdf;

    > img {
      float: left;
      width: 20px;
      height: 20px;
    }

    a {
      cursor: pointer;
      color: #333;
      font-weight: bold;
    }:hover {
      text-decoration: underline;
      color: rgb(255,64,129);
    }
  }
}

.ig-dashboard.as-list {
  .header, .container, .trend {
    float: left;
  }
  .trend {
    width: 12%;
    height: 200px;
    margin-bottom: 0;

    @media screen and (min-width: $break-phone) {
      width: 12%;
    }
  }
  .header {
    text-align: left;
    width: 36%;
    height: 200px;
    padding: 20px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      margin: 4px 0;
    }

    @media screen and (min-width: $break-phone) {
      width: 42%;
    }
  }
  .container {
    padding: 0;
    width: 52%;

    > .timeline {
      width: 100%;
      height: 196px;
      margin: 2px 0;
      padding-right: 0;
    }

    @media screen and (min-width: $break-phone) {
      width: 46%;
    }
  }
}
</style>
