<template>
  <div
    ref="container"
    class="ig-histogram"
    :class="{dark: dark, 'hide-icons': hideIcons}"
    >

    <LoadingBox
      v-if="loading && !hideLoader"
      class="loading-box">
    </LoadingBox>

    <ErrorModal
      v-if="apiError || notAuthorized"
      opened
      :type="(notAuthorized || noResults) ? 'warning' : 'error'"
      :content="notAuthorized ? gettext('Service is not enabled') : noResults ? '' + subject + ' / ' + topic + '<br/>' + gettext('No results.') : gettext('Error contacting server, try later.')"
      @refresh="getEntities()" />

    <div class="chart-container">
      <div class="col">
      </div>
      <div class="col">
      <highcharts class="chart"
        v-if="chartOptions != null" ref="chart" :options="chartOptions" />
      </div>
    </div>
  </div>
</template>

<script>
/**
 * IGHistogram
 *
 */

// https://www.highcharts.com/docs/chart-and-series-types/histogram-series
import Highcharts from 'highcharts'
import histogrambellcurveInit from 'highcharts/modules/histogram-bellcurve'

import LoadingBox from '../../elements/loader/LoadingBox'
import ErrorModal from '../../elements/modal/ErrorModal'

import IGTimelineMixin from './IGTimelineMixin'

histogrambellcurveInit(Highcharts)

export default {
  name: 'IGHistogram',
  mixins: [
    IGTimelineMixin
  ],
  components: {
    LoadingBox,
    ErrorModal
  },
  props: {
    title: {
      type: String,
      default: null
    },
    subTitle: {
      type: String,
      default: null
    },
    basin: {
      type: String,
      default: 'google-cse'
    },
    showScattered: {
      type: Boolean,
      default: true
    },
    asList: {
      type: Boolean,
      default: false
    },
    hideLoader: {
      type: Boolean,
      default: false
    },
    hideIcons: {
      type: Boolean,
      default: false
    },
    dark: {
      type: Boolean,
      default: false
    }
  },
  mounted () {
    //console.log('MOUNTED!', this.from, this.to, this.startDate, this.endDate)
  },
  data () {
    return {
      hcInstance: Highcharts,  // https://github.com/highcharts/highcharts-vue (second way)
      collapseUrl: false,
      chartOptions: null
    }
  },
  methods: {
    parseEntities (data) {
      // console.log('data', data)
      let e = data.aggregations.by_interval.buckets
      return e
    },
    getEntities () {
      // console.log('getEntities')
      this.xhrGetUrl = this.sfUrl

      this.xhrGetUrl += '?interval=' + this.interval
      if (this.useTimezone) this.xhrGetUrl += '&timezone=' + this.timezone
      if (this.startDate) this.xhrGetUrl += '&from=' + this.normalizeDate(this.startDate)
      if (this.endDate) this.xhrGetUrl += '&to=' + this.normalizeDate(this.endDate)
      if (this.subject) this.xhrGetUrl += '&subject=' + this.subject
      if (this.topic) this.xhrGetUrl += '&topic=' + this.topic

      this.performXhrGet()
    },
    getChartOptions () { // returns Highcharts chart Object
      // let self = this

      let data = this.entities.map((interval) => {
          let intervalBasins = interval.basins.buckets.filter((el) => {
            return el.key == this.basin
          })
          if (intervalBasins.length) {
            if (this.subject) {
              return intervalBasins[0].user.unique_url_count.value
            } else {
              return intervalBasins[0].unique_url_count.value
            }
          } else {
            return 0
          }
      })
      //console.log('data', data)

      let series = [{
          name: 'Count',
          type: 'histogram',
          binsNumber: 'square-root',
          xAxis: 1,
          yAxis: 1,
          baseSeries: 's1',
          zIndex: -1
      }, {
          name: 'Results',
          type: 'scatter',
          data: data,
          id: 's1',
          marker: {
              radius: 1.5
          }
      }]

      let _chartOptions = {
        title: {
            text: this.title
        },

        subtitle: {
            text: this.subTitle
        },

        xAxis: [
          {
              title: { text: 'Results' },
              alignTicks: false,
              opposite: true
          },
          {
              title: { text: 'Count' },
              alignTicks: false
          }
        ],

        yAxis: [
          {
              title: { text: 'Results' },
              opposite: true
          }, {
              title: { text: 'Count' },
          }
        ],

        plotOptions: {
            histogram: {
                accessibility: {
                    pointDescriptionFormatter: function (point) {
                        var ix = point.index + 1,
                            x1 = point.x.toFixed(3),
                            x2 = point.x2.toFixed(3),
                            val = point.y;
                        return ix + '. ' + x1 + ' to ' + x2 + ', ' + val + '.';
                    }
                }
            }
        },

        series: series
      }

      return _chartOptions
    },
    update () {
      this.chartOptions = null
      this.chartOptions = this.getChartOptions()
    }
  },
  watch: {
    entities (n) {
      //console.log('entities changed', n)
      this.update()
    }
  }
}
</script>

<style lang="scss">
@import "../../../scss/theme";

.ig-histogram {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 96px;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: auto;
  color: #111;
  font-size: small;

  a {
    color: #111;
    text-decoration: underline;
  }

  .clear {
    box-sizing: border-box;
    padding: 16px 0;
    clear: both;
    text-align: center;
  }

}
.ig-histogram.dark {
  color: #fff;
}
.ig-histogram.hide-icons {

}
</style>
