<template>
  <div class="ig-timeline"
    :class="{'as-list': asList}">

    <div class="btn left"
      @click="goPrevStep"><span>&lt;</span></div>

    <highcharts class="chart"
      v-if="chartOptions != null" ref="chart"
      :options="chartOptions"
      :callback="highchartsCallback" />

    <div class="btn right"
      @click="goNextStep"><span>&gt;</span>
    </div>

  </div>
</template>

<script>
import moment from 'moment'

import Highcharts from 'highcharts'

import IGTimelineMixin from './IGTimelineMixin'
function uniqueArray1( ar ) {
  var j = {};

  ar.forEach( function(v) {
    j[v+ '::' + typeof v] = v;
  });

  return Object.keys(j).map(function(v){
    return j[v];
  });
}

export default {
  name: 'IGTimeline',
  mixins: [
    IGTimelineMixin
  ],
  props: {
    title: {
      type: String,
      default: null
    },
    asList: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      chartOptions: null,
      maxLevel: 0,
      chartLoaded: false,
      selectedPoints: [],
      selectingPoints: false,
      selectedLegends: []
    }
  },
  mounted () {},
  methods: {
    highchartsCallback () {
      this.selectedLegends = this.areas.map((x) => {
        return x.slug
      })
      this.$emit('loaded', this.getState())
    },
    goPrevStep () {
      this.shift -= 1
    },
    goNextStep () {
      this.shift += 1
    },
    getChartOptions () {
      let self = this
      //console.log('getChartOptions', this.entities)

      let series = []

      for (let i=0; i<this.areas.length; i++) {
        let area = this.areas[i]
        let basin = area.basins[0]
        //console.log('area', area.slug, 'basin', basin)

        let data = [];

        for (let j=0; j<this.entities.length; j++) {
          let step = this.entities[j]
          //console.log('step', step)
          let stepBasins = step.basins.buckets.map((x) => {
            return x.key
          })

          if (stepBasins.filter((x) => {
            return x == basin
          }).length) {
            //console.log('basin found', basin)
            data.push(step.basins.buckets.find((x) => {
              return x.key == basin
            }).user.unique_url_count.value)
          } else {
            //console.log('basin NOT found', basin)
            data.push(0)
          }
        }

        //console.log('data', basin, data)

        let serie = {
            allowPointSelect: true,
            states: {
                select: {
                    color: 'rgb(0, 190, 164)',
                    borderColor: 'black',
                    dashStyle: 'dot'
                }
            },
            point: {
                events: {
                    select: function (ev) {
                        if (!self.selectingPoints) {
                            setTimeout(() => {

                                self.selectingPoints = true

                                //console.log('SELECT', ev, this)

                                let selectedPoints = self.selectedPoints.slice()
                                if (ev.accumulate) {
                                    selectedPoints.push(this);
                                } else {
                                    selectedPoints = [this];
                                }
                                let selectedPointsIdx = selectedPoints.map((el)=>{return el.index}).sort()

                                if (selectedPointsIdx.length > 1) {
                                    //console.log('selectedPointsIdx', selectedPointsIdx)
                                    this.series.points.forEach(point => {
                                      if (point.index >= selectedPointsIdx[0] && point.index <= selectedPointsIdx[selectedPointsIdx.length - 1]) {
                                        //console.log('selecting', point.index, ' ....', selectedPointsIdx[0], '<', point.index)
                                        selectedPointsIdx.push(point.index)
                                        selectedPointsIdx = uniqueArray1(selectedPointsIdx).sort()
                                        point.select(true, true);
                                        //point.setState('select')
                                      } else {
                                        //console.log('deselecting', point.index, selectedPointsIdx[0], selectedPointsIdx[selectedPointsIdx.length - 1])
                                        point.select(false, true);
                                      }
                                    })
                                    //console.log('SELECTED', selectedPointsIdx)
                                    self.selectedPoints = this.series.points.filter((p)=>{
                                        return selectedPointsIdx.indexOf(p.index) > -1
                                    })
                                } else {
                                    //console.log('only one point selected')
                                    self.selectedPoints = selectedPoints
                                }

                                self.selectingPoints = false
                            })
                      } else {
                        //console.log('selecting points', this)
                      }
                    },
                    unselect: function () {
                      if (!self.selectingPoints) {
                        if (self.selectedPoints.length > 1) {
                          setTimeout(() => {
                              //console.log('UNSELECT ALL', this)
                              this.series.points.forEach(point => {
                                point.select(false, true)
                              })
                              self.selectedPoints = []
                          }, 0)
                        } else {
                          setTimeout(() => {
                              //console.log('UNSELECT', this)
                              let _self = this
                              self.selectedPoints = self.selectedPoints.filter(function (p) {
                                  return p.id !== _self.id
                              })
                          }, 0)
                        }
                      } else {
                        //console.log('selecting points', this)
                      }
                    }
                }
            },
            name: area.slug,
            data: data,
            color: area.color
        }
        series.push(serie)

      }

      //return this.EC
      let _chartOptions = {
        chart: {
            type: 'column'
        },
        title: {
            text: this.title
        },
        xAxis: {
            categories: this.entities.map((item) => {
              //console.log('item', item)
              // return new Date(item.key_as_string).toString()
              return moment(item.key).add(1, this.interval + 's').format('LL')
            }),
            labels: {
                enabled: !this.asList
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'links'
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: ( // theme
                        Highcharts.defaultOptions.title.style &&
                        Highcharts.defaultOptions.title.style.color
                    ) || 'gray'
                }
            }
        },
        legend: {
            backgroundColor:
                Highcharts.defaultOptions.legend.backgroundColor || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false,
            enabled: !this.asList
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },
        plotOptions: {
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true
                }
            },
            series: {
                events: {
                    legendItemClick: function(e) {
                        if (!this.visible) {
                          //console.log('selected', e.target.name, e)
                          if (self.selectedLegends.indexOf(e.target.name) > -1) {
                            //console.log('already selected')
                          } else {
                            self.selectedLegends.push(e.target.name)
                            self.$emit('legendsSelected', {...self.getState(), ...{selectedLegends: self.selectedLegends}})
                          }
                        } else {
                          //console.log('unselected', e.target.name, e)
                          if (self.selectedLegends.indexOf(e.target.name) > -1) {
                            //console.log('unselecting')
                            self.selectedLegends = self.selectedLegends.filter((x)=>{
                              return x != e.target.name
                            })
                            self.$emit('legendsSelected', {...self.getState(), ...{selectedLegends: self.selectedLegends}})
                          } else {
                            //console.log('already unselected')
                          }
                        }
                        /*
                        for (let i=0; i<self.selectedPoints.length; i++) {
                            let point = self.selectedPoints[i]
                            if (point) { point.select(false) }
                        }
                        self.selectedPoints = []
                        */
                    }
                }
            }
        },
        series: series
      }

      return _chartOptions

    },
    update () {
      this.chartOptions = null
      this.chartOptions = this.getChartOptions()
    }
  },
  watch: {
    entities () {
      this.update()
    },
    selectedPoints (n) {
      this.$emit('pointsSelected', {...this.getState(), ...{selectedPoints: n}})
    }
  }
}
</script>

<style lang="scss">
.ig-timeline {
  position: relative;
  height: 100%;

  .chart {
    padding: 0 32px;
    height: 100%;
  }

  .btn {
    position: absolute;
    width: 32px;
    height: 32px;
    line-height: 16px;
    text-align: center;
    top: 40%;
    cursor: pointer;
    font-weight: bold;
    font-size: 110%;
    border-radius: 999px;
    padding: 8px;
    box-sizing: border-box;
  }
  .btn:hover {
    color: rgb(255,64,129);
    background-color: rgba(255,64,129,0.2);
  }
  .btn.left {
    left: 0;
  }
  .btn.right {
    right: 0;
  }
}

.ig-timeline.as-list {
  .chart {
    padding: 0;
  }
  .btn {
    display: none;
  }
}
</style>
