<template>
  <div class="ig-trend" :class="{'is-negative': isNegative}">
      <i class="material-icons"
        :style="{color: getColor()}"
        v-html="getTrendIcon()"></i>
  </div>
</template>

<script>

/**
 * IGTrend
 *
 */
import trend from 'trend'


export default {
  name: 'IGTrend',
  props: {
    trend: {
      type: String,
      default: '0'
    },
    isNegative: {
      type: Boolean,
      default: true
    },
    face: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      values: this.trend ? this.trend.split(',').map((x)=>{return parseInt(x)}) : [],
      trendValue: 0
    }
  },
  mounted () {
    //console.log('values', this.values, this.values.length)
    this.calcTrend()
  },
  methods: {
    calcTrend () {
      this.trendValue = trend(this.values, {
        avgPoints: this.values.length - 1,
        avgMinimum: 0,
        reversed: false
      })
      //console.log('trendValue', this.values, this.trendValue)
    },
    getTrendIcon () {
      if (this.trendValue === 0) {
        return 'trending_flat'
      } else if (this.trendValue > 0) {
        return 'keyboard_arrow_up' // 'trending_up'
      } else {
        return 'keyboard_arrow_down' // 'trending_down'
      }
    },
    getColor () {
      if (this.trend === 0) return '#efefef'

      if (this.isNegative) {
        if (this.trend > 0) return '#0f9851'
        else return '#ff2400'
      } else {
        if (this.trend < 0) return '#ff2400'
        else return '#0f9851'
      }
    }
  },
  watch: {
    trend (n,o) {
      //console.log('recalc trend', n, o)
      this.calcTrend()
    }
  }
}
</script>

<style lang="scss">
@import "../../../scss/theme";

.ig-trend {
  position: relative;
  overflow: hidden;
  text-align: center;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  i {
    font-size: 36px;

    @media screen and (min-width: $break-phone) {
      font-size: 48px;
    }

    @media screen and (min-width: $break-tablet) {
      font-size: 56px;
    }

  }.face {
    color: #efefef;
    position: relative;
    top: -8px;
  }
}
</style>
