<template>
  <div
    ref="container"
    class="ig-urls"
    :class="{dark: dark, 'hide-icons': hideIcons}"
    >

    <LoadingBox
      v-if="loading && !hideLoader"
      class="loading-box">
    </LoadingBox>

    <ErrorModal
      v-if="apiError"
      :opened="apiError"
      :content="gettext('Error contacting server, try later.')"
      @refresh="getEntities()" />

    <p class="title" v-if="title">{{ title }}</p>

    <span class="" v-if="entities && entities.length == 0">{{ gettext('No items found') }}</span>

    <div class="element card"
      v-for="(item, key) in entities"
      :key="key"
      @click="$emit('selected', item)">

      <i class="icon material-icons"
        :style="getEntityIconStyle(item)">
        {{getEntityIcon(item)}}
      </i>

      <h4 class="text">
        <a :href="getEntityUrl(item)" alt="item" target="_blank">
<!--           <span class="date">{{getEntityDate(item)}} - </span> -->
          {{getEntityTitle(item)}}
        </a>
      </h4>

      <div class="vote"
        v-if="canReport">
<!--         <a @click="voteUp(item)" :title="gettext('good')"><i class="icon material-icons">thumb_up</i></a> -->
        <a @click="voteDown(item)" :title="gettext('Report as inappropriate')"><i class="icon material-icons">thumb_down</i></a>
      </div>
    </div>

    <div class="clear">
      <a v-if="hasMore()"
        class="load-more"
        @click="loadMore">
        {{ gettext('Load more') }}
      </a>
    </div>

  </div>
</template>

<script>
/**
 * IGUrls
 *
 */

import LoadingBox from '../../elements/loader/LoadingBox'
import ErrorModal from '../../elements/modal/ErrorModal'

import IGUrlsMixin from './IGUrlsMixin'


export default {
  name: 'IGUrls',
  mixins: [
    IGUrlsMixin
  ],
  components: {
    LoadingBox,
    ErrorModal
  },
  props: {
    hideLoginMask: {
      type: Boolean,
      default: false
    },
    canReport: {
      type: Boolean,
      default: true
    },
    hideLoader: {
      type: Boolean,
      default: false
    },
    hideIcons: {
      type: Boolean,
      default: false
    },
    showAll: {
      type: Boolean,
      default: false
    },
    dark: {
      type: Boolean,
      default: false
    },
    title: {
      type: String,
      default: null
    }
  },
  data () {
    return {}
  },
  methods: {
    getEntityIcon () {
      return 'link'
    },
    getEntityIconStyle () {
      let style = {}

      if (this.iconColor) {
        style['color'] = this.iconColor
      }
      return style
    },
    voteUp (item) {
       console.log('voteUp', item)
       this.$emit('voteUp', item)
    },
    voteDown (item) {
       console.log('voteDown', item)
       this.$emit('voteDown', item)
    }
  },
  watch: {}
}
</script>

<style lang="scss">
@import "../../../scss/theme";

.ig-urls {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 96px;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: auto;
  color: #111;
  font-size: small;

  a {
    color: #111;
    text-decoration: underline;
  }

  .title {
    font-size: 19px;
    text-align: center;
  }

  .clear {
    box-sizing: border-box;
    padding: 16px 0;
    clear: both;
    text-align: center;

    .load-more {
      cursor: pointer;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  .card {
    position: relative;
    overflow: hidden;
    padding : 0;

    .icon {
      display: inline-block;
      float: left;
      font-size: 24px;
      line-height: 24px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .date {
      line-height: 24px;
      font-size: small;
      font-family: monospace;
    }
    .text {
      line-height: 24px;
      font-size: 16px;
      margin: 0 0 0 32px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    .vote {
      position: absolute;
      display: none;
      top: 0;
      right: 0;
      width: 32px;
      height: 24px;

      a {
        cursor: pointer;
      }:hover {
        color: #ff4081;
      }

      i {
        margin: 0 0 0 8px;
      }
    }
  }

  .card:hover {
    background-color: #efefef;
    .vote {
      display: inline-block;
    }
  }
}

.ig-urls.dark {
  color: #fff;
}
.ig-urls.hide-icons {
  .card {
    .icon {
      display: none;
    }
    .text {
      margin-left: 0;
    }
  }
}
</style>
