<template>
<div class="ig-wordcloud">
  <highcharts class="ig-wordcloud chart"
    v-if="chartOptions" ref="chart"
    :options="chartOptions" />
    <input v-model="excluded"
</div>
</template>

<script>
import Highcharts from 'highcharts'
import wordcloudInit from 'highcharts/modules/wordcloud'

import IGWordCloudMixin from './IGWordCloudMixin'

wordcloudInit(Highcharts)

/**
 * IGWordCloud
 *
 */

export default {
  name: 'IGWordCloud',
  mixins: [
    IGWordCloudMixin
  ],
  props: {
    normalized: {
      type: Boolean,
      default: true
    },
    color: {
      type: String,
      default: null
    },
    backgroundColor: {
      type: String,
      default: '#fff'
    },
    text: {
      type: String,
      default: null
    },
    title: {
      type: String,
      default: null
    },
    subTitle: {
      type: String,
      default: null
    }
  },
  data () {
    return {
      hcInstance: Highcharts,  // https://github.com/highcharts/highcharts-vue (second way)
      chartOptions: this.getChartOptions(),
      maxLevel: 0,
      data: [],
      chartLoaded: false
    }
  },
  mounted () {
    window.addEventListener('resize', () => {
      this.update()
    })
    this.$nextTick(()=>{
      this.update()
    })
  },
  methods: {
    setData () {
      let data = []

      if (this.text) {
        data = this.getDataFromText()
      } else {
        data = (this.entities && this.entities.length) ? this.entities : []
      }

      data.map((obj) => {
        if (obj.weight > this.maxLevel) {
          this.maxLevel = obj.weight
        }
      })

      data.map((el) => {
        let max = 1 / this.maxLevel
        let level = max / (1 / el.weight)

        el['color'] = this.getLevelColor(level)
      })

      this.data = data
    },
    getChartOptions () {
      this.setData()

      let subtitle = null

      let c = {
        credits: {
            enabled: false
        },
        tooltip: {
          enabled: false
        },
        chart: {
          backgroundColor:'rgba(255, 255, 255, 0.0)'
        },
        exporting: {
          enabled: this.enableExporting
        },
        title: {
            text: this.title
        },
        subtitle: {
            text: this.subtitle
        },
        series: [{
            type: 'wordcloud',
            data: this.data,
            name: this.topic
        }]
      }

      if (this.hideSubject) {
        c['title']['style'] = {display: 'none'}
        c['subtitle']['style'] = {display: 'none'}
      }

      return c
    },
    update () {
      this.chartOptions = null
      this.chartOptions = this.getChartOptions()
    }
  },
  watch: {
    text () {
      this.update()
    },
    entities () { //(n) {
      this.update()
    }
  }
}
</script>

<style lang="scss">
.ig-wordcloud {
  height: 100%;

  .chart {
    height: 100%;
  }
  .list {
    line-height: 48px;
    padding: 0;
  }
}
</style>
