<template>
  <div class="date-interval-slider">
    <vue-slider
      ref="slider"
      v-model="value"
      :data="data"
      :formatter="formatter"
      :bgStyle="{backgroundColor: emptyColor}"
      :processStyle="{backgroundColor: fillColor}"
      :tooltipStyle="{backgroundColor: fillColor, borderColor: fillColor}"
      @callback="dateIntervalChanged"
      />
   </div>
</template>

<script>
import vueSlider from 'vue-slider-component'

export default {
  name: 'DateIntervalSlider',
  components: {
    vueSlider
  },
  props: {
    emptyColor: {
      type: String,
      default: '#efefef'
    },
    fillColor: {
      type: String,
      default: '#f1b342'
    },
    beginDate: {
      type: String,
      default: 'now'
    },
    endDate:  {
      type: String,
      default: 'now'
    },
    steps: {
      type: Array,
      default () {
        return  [
          'now-1y',
          'now-6M',
          'now-3M',
          'now-1M',
          'now-2M',
          'now-3M',
          'now-2w',
          'now-1w',
          'now-1d',
          'now-12h',
          'now-6h',
          'now-1h',
          'now'
        ]
      }
    },
    labels: {
      type: Array,
      default () {
        return  [
          'One year ago', // 'now-1y',
          'Six months ago',
          'Three months ago',
          'One month ago',
          'Two months ago',
          'Three months ago',
          'Two weeks ago',
          'One week ago',
          'One day ago',
          'Twelve hours ago',
          'Six hours ago',
          'One hour ago',
          'Now'
        ]
      }
    }
  },
  data () {
    return {
      value: [
        this.beginDate,
        this.endDate
      ],
      data: this.steps
    }
  },
  methods: {
    formatter (val) {
      if (val) {
        let idx = this.steps.indexOf(val)
        if (idx > -1) {
          return this.labels[idx]
        }
      }
      return val
    },
    dateIntervalChanged (d) {
      this.$emit('callback', d)
    }
  }
}
</script>

<style lang="scss">
.date-interval-slider {
  margin: 32px 18px;
  box-sizing: border-box;
}
</style>
