<template>
  <div class="date-interval-slider">
    <vue-slider
      ref="slider"
      v-model="value"
      :data="data"
      :formatter="formatter"
      :bgStyle="{backgroundColor: emptyColor}"
      :processStyle="{backgroundColor: fillColor}"
      :tooltipStyle="{backgroundColor: fillColor, borderColor: fillColor}"
      :tooltip="(alwaysShowTooltip && !showMergeTooltip) ? 'always' : 'none'"
      @callback="dateIntervalChanged"
      >
      <template v-slot:process="{ start, end, style }">
      <div class="vue-slider-process" :style="style">
        <div
          v-if="showMergeTooltip"
          :class="[
            'merge-tooltip',
            'vue-slider-dot-tooltip-inner',
            'vue-slider-dot-tooltip-inner-top',
          ]"
          :style="{'background-color': fillColor, 'border-color': fillColor}"
        >
          {{ value[0] }} / {{ value[1] }}
        </div>
      </div>
    </template>
    </vue-slider>
   </div>
</template>

<script>
/*
https://nightcatsama.github.io/vue-slider-component
*/

import VueSlider from 'vue-slider-component'
import 'vue-slider-component/theme/default.css'

export default {
  name: 'DateIntervalSlider',
  components: {
    VueSlider
  },
  props: {
    alwaysShowTooltip: {
      type: Boolean,
      default: true
    },
    emptyColor: {
      type: String,
      default: '#efefef'
    },
    fillColor: {
      type: String,
      default: '#f1b342'
    },
    beginDate: {
      type: String,
      default: 'now'
    },
    endDate:  {
      type: String,
      default: 'now'
    },
    steps: {
      type: Array,
      default () {
        return  [
          'now-1y',
          'now-6M',
          'now-3M',
          'now-1M',
          'now-2M',
          'now-3M',
          'now-2w',
          'now-1w',
          'now-1d',
          'now-12h',
          'now-6h',
          'now-1h',
          'now'
        ]
      }
    },
    labels: {
      type: Array,
      default () {
        return  [
          'One year ago', // 'now-1y',
          'Six months ago',
          'Three months ago',
          'One month ago',
          'Two months ago',
          'Three months ago',
          'Two weeks ago',
          'One week ago',
          'One day ago',
          'Twelve hours ago',
          'Six hours ago',
          'One hour ago',
          'Now'
        ]
      }
    }
  },
  computed: {
  	showMergeTooltip () {
  	    /*
  	     https://jsfiddle.net/NightCatSama/3hg0246q/5/
  	     return this.value[1] - this.value[0] < 10
  	    */
  	    let first = this.steps.indexOf(this.value[0])
  	    let second = this.steps.indexOf(this.value[1])
    	console.log('this.value', this.value, first, second, second-first)
    	return ((second - first) < 2)
    }
  },
  data () {
    return {
      value: [
        this.beginDate,
        this.endDate
      ],
      data: this.steps
    }
  },
  methods: {
    formatter (val) {
      if (val) {
        let idx = this.steps.indexOf(val)
        if (idx > -1) {
          return this.labels[idx]
        }
      }
      return val
    },
    dateIntervalChanged (d) {
      this.$emit('callback', d)
    }
  }
}
</script>

<style lang="scss">
@import '~vue-slider-component/lib/theme/default.scss';

.date-interval-slider {
  margin: 32px 18px;
  box-sizing: border-box;

  .merge-tooltip {
    font-family: Roboto, Lato, Arial, sans-serif;

    padding: 3px 5px;
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, -15px);
  }
}
</style>
