<template>
  <div class="q-events-map"
    ref="container"
    :class="{narrow: isNarrow || forceNarrow}" >

    <div class="map-background" ref="mapBackground" :class="{'drawer-opened': showDrawer}"></div>

    <div class="top-left fade-enter-active"
      :class="{hidden: showDrawer}">
      <DateIntervalSlider
        ref="slider"
        :beginDate="dStartDate"
        :endDate="dEndDate"
        @callback="dateIntervalChanged"
        />
    </div>

    <div class="top-right fade-enter-active"
      :class="{hidden: (showDrawer || hideAvatar)}">
      <UserTopBarAvatar
        :external-user-profile="userProfile"
        right-aligned
      >
        <li class="mdc-list-item" role="menuitem">
            <h4 alt="open recent" style="width: 100%;"
              @click="showDrawer=true">
                <div>{{gettext('Recently viewed')}}</div>
            </h4>
        </li>
      </UserTopBarAvatar>
    </div>

    <div class="drawer"
      ref="drawer"
      :class="{'opened': showDrawer}">

      <i class="icon material-icons close-drawer"
        @click="showDrawer=false">
        close
      </i>

      <div class="events-list"
        ref="eventsList">

        <h2>{{gettext('Recently viewed')}}</h2>

        <div
          v-for="(el, key) in this.recentlyViewedInfoWindows"
          :key="key">
          <div class="event"
            @click="eventSelected(el)">
            <div class="media">
              <h2><small>{{getEventDate(el.doc)}}</small></h2>
            </div>
            <div class="info">
              <div>
                <h2>{{getEventName(el.doc)}}</h2>
                <p>{{getEventText(el.doc)}}</p>
              </div>
            </div>
            <div class="clear"></div>
          </div>

        </div>
      </div>

    </div>

    <div class="footer click-disabled">
      <LoadingBox
        dark
        v-if="loading">
        <p>{{gettext('loading')}}..</p>
      </LoadingBox>
    </div>

    <LoginRequiredMask
      v-if="!loading && !hideLoginMask"
      :already-logged-in="userProfile !== null"
      :login-url="loginUrl"
      />
  </div>
</template>

<script>
import moment from 'moment'

import UserEventsMixin from '../../../entities/event/UserEventsMixin'

import ErrorResponseMixin from '@paiuolo/pai-vue-mixins/mixins/ErrorResponseMixin'

import GoogleMapsElementMixin from '@paiuolo/pai-vue-google-maps/mixins/GoogleMapsElementMixin'
import GoogleMapsBoundsMixin from '@paiuolo/pai-vue-google-maps/mixins/GoogleMapsBoundsMixin'
import GoogleMapsMarkersMixin from '@paiuolo/pai-vue-google-maps/mixins/GoogleMapsMarkersMixin'

import GoogleMapsMarkerClustererMixin from '@paiuolo/pai-vue-google-maps/mixins/GoogleMapsMarkerClustererMixin'
import OverlappingMarkerSpiderfierMixin from '@paiuolo/pai-vue-google-maps/mixins/OverlappingMarkerSpiderfierMixin'
//import GoogleMapsMarkerClustererPlusOverlappingMarkerSpiderfierMixin from '@paiuolo/pai-vue-google-maps/mixins/GoogleMapsMarkerClustererPlusOverlappingMarkerSpiderfierMixin'

import LoadingBox from '../../loader/LoadingBox'
import LoginRequiredMask from '../../../entities/user/LoginRequiredMask'
import DateIntervalSlider from '../../slider/DateIntervalSlider'

import UserTopBarAvatar from '../../../entities/user/UserTopBarAvatar'


export default {
  name: 'QEventsMap',
  mixins: [
    UserEventsMixin,
    ErrorResponseMixin,
    GoogleMapsElementMixin,
    GoogleMapsBoundsMixin,
    GoogleMapsMarkersMixin,
    OverlappingMarkerSpiderfierMixin,
    GoogleMapsMarkerClustererMixin
  ],
  components: {
    LoadingBox,
    LoginRequiredMask,
    UserTopBarAvatar,
    DateIntervalSlider
  },
  props: {
    size: {
      type: [String, Number],
      default: 200
    },
    startDate: {
      type: String,
      default: 'now-3M'
    },
    hideAvatar: {
      type: Boolean,
      default: false
    },
    showAll: {
      type: Boolean,
      default: false
    },
    freeze: {
      type: Boolean,
      default: false
    },
    eventTypes: {
      type: String,
      default: 'qpost_verde,qpost_giallo,qpost_grigio,qpost_rosso,qpost_rosso_ticket,odour_alert'
    },
    hideLoginMask: {
      type: Boolean,
      default: false
    },
    forceNarrow: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      fixtures: [],

      redrawingFixtures: false,

      disableEventsUpdate: this.freeze || this.loading,

      markerClusterTypes: {
        'qpost_verde': {
          markerClustererImagePath: 'https://cdn.q-cumber.org/static/entities/qpost_verde/map/cluster/m'
        },
        'qpost_giallo': {
          markerClustererImagePath: 'https://cdn.q-cumber.org/static/entities/qpost_giallo/map/cluster/m'
        },
        'qpost_rosso': {
          markerClustererImagePath: 'https://cdn.q-cumber.org/static/entities/qpost_rosso/map/cluster/m'
        },
        'qpost_grigio': {
          markerClustererImagePath: 'https://cdn.q-cumber.org/static/entities/qpost_grigio/map/cluster/m'
        },
        'odour_alert': {
          markerClustererImagePath: 'https://cdn.q-cumber.org/static/entities/odour_alert/map/cluster/m'
        }
      },

      infoWindows: [],
      showDrawer: false,
      lastEventId: null,

      recentlyViewedInfoWindows: [],

      shouldGetEvents: false,

      elementWidth: 0,
      narrowBreakpoint: 640,
      isNarrow: false
    }
  },
  mounted () {

    this.$on('performingGetEntities', () =>{
      this.updatingEvents = true
    })
    this.$on('getEntitiesSuccess', (r) => {
      this.stopLoading()
      this.redrawFixtures(r)
    })
    this.$on('getEntitiesError', (error) => {
      console.log('getEntitiesError', error)
      this.stopLoading()
    })

    this.$on('mapsLoaded', () => {
      this.initGoogleMap(this.$refs.mapBackground)
    })

    this.$on('mapZoomChanged', () => {
      if (this.mapZoomingOut) {
        this.disableEventsUpdate = false
      } else {
        this.disableEventsUpdate = true
      }
    })

    this.$on('mapBoundsChanged', () => {
      if (this.showDrawer || this.mapClusterSpiderOpened) {
        this.shouldGetEvents = true
      } else {
        if (this.mapCanEmitEvents()) {
          this.updateLastMapEvent()
          this.updateFixtures()
        }
      }
    })

    this.$on('mapIdle', () => {
      this.updateFixtures()
    })

    this.$on('mapPositionClicked', () => {
      if (this.mapClusterSpiderOpened) {
        this.markerSpiderfier.unspiderfy()
      }
      this.showDrawer = false
    })

    this.$on('overlappingMarkerSpiderfy', () => {
      if (this.activeInfoWindow) this.activeInfoWindow.close()
    })
    this.$on('overlappingMarkerUnspiderfy', () => {
      if (this.activeInfoWindow) this.activeInfoWindow.close()
    })

    window.addEventListener('resize', () => {
      this.resize()
    })
    this.$nextTick(() => {
      this.resize()
    })
  },
  computed: {
    canGetEntities () {
      return (this.mapBounds && !this.disableEventsUpdate && !this.mapClusterSpiderOpened)
    }
  },
  methods: {
    canGetEvents (obj) {
      return this.canGetEntities
    },
    resize () {
      this.startLoading()

      let el = this.$refs.container

      if (el) {
        let w = el.clientWidth

        if (w != this.elementWidth) {
          this.elementWidth = w

          if (w <= this.narrowBreakpoint) {
            this.isNarrow = true
          } else {
            this.isNarrow = false
          }
        }
      }

      this.stopLoading()
    },
    dateIntervalChanged (d) {
      this.dStartDate = d[0]
      this.dEndDate = d[1]
      this.updateFixtures()
    },
    getEventName (e) {
      let n = this.gettext('Event')
      if (e.type === 'qpost_rosso') {
        return this.gettext('Qpost Rosso')
      } else if (e.type === 'qpost_rosso_ticket') {
        return this.gettext('Qpost Rosso (ticket)')
      } else if (e.type === 'qpost_grigio') {
        return this.gettext('Qpost Grigio')
      } else if (e.type === 'qpost_giallo') {
        return this.gettext('Qpost Giallo')
      } else if (e.type === 'qpost_verde') {
        return this.gettext('Qpost Verde')
      } else if (e.type === 'odour_alert') {
        return this.gettext('Odour Alert')
      }
      return n
    },
    getEventIcon (e) {
      return 'https://cdn.q-cumber.org/static/entities/' + e.type + '/map/icon_small.png'
    },
    getEventText (e) {
      return e.text || e.comment
    },
    getEventDate (e) {
      return moment.unix(e.timestamp).format('DD MMMM YYYY HH:mm')
    },
    getEventCondensedDate (e) {
      return moment.unix(e.timestamp).format('DD MM YY HH:mm')
    },
    parseEntities (data) {
      return data.hits.hits.map((e) => {
        return e['_source']
      })
    },
    closeInfoWindows () {
      for (let i=0; i<this.infoWindows.length; i++) {
        // let iw = this.infoWindows[i]
        // iw.close()
        this.infoWindows.splice(i, 1)
      }
    },
    showMarkerInfoWindow (m, append) {
      this.startLoading()

      let id = m.id
      let e = null
      for(let i=0; i<this.fixtures.length; i++) {
        let x = this.fixtures[i]
        if (x.id === id) {
          e = x
          break
        }
      }
      if (e) {
        this.panTo(e.location.lat, e.location.lon)

        let s = '<div>'
        s += '<h2>' + this.getEventName(e) + '</h2>'
        s += '<h4>' + this.getEventDate(e) + '</h4>'
        s += '</div>'

        if (append && !(this.lastEventId === e.id)) {
          this.lastEventId = e.id
          this.$refs.eventsList.scrollTop = 0

          let infoWindowObject = {
            id: e._id,
            name: this.getEventName(e),
            doc: e,
            content: s,
            marker: m
          }

          this.infoWindows.unshift(
            infoWindowObject
          )

          this.recentlyViewedInfoWindows.unshift(
            infoWindowObject
          )
        }

        if (this.activeInfoWindow) {
          this.activeInfoWindow.close()
        }
        this.activeInfoWindow = new this.googleMaps.InfoWindow({
          content: s
        })

        this.activeInfoWindow.open(this.googleMap, m)

        this.showDrawer = true
        this.$emit('showMarkerInfoWindow', s)
      }
      this.stopLoading()
    },
    _redrawFixtures (r) {
      this.startLoading()

      this.clearFixtures()

      this.removeAllMarkersFromCluster()
      this.removeAllMarkersFromSpiderfier()

      for (let i = 0; i < r.hits.hits.length; i++) {
        let event = r.hits.hits[i]
        let doc = event._source.doc

        let lat = doc.location.lat
        let lon = doc.location.lon
        let type = doc.type

        let newMarker = this.placeEventMarker(lat, lon, event._id, doc)


        this.addMarkerToSpiderfier(newMarker)
        this.addMarkerToCluster(newMarker, type.replace('_ticket', ''))
      }

      this.stopLoading()
    },
    redrawFixtures (r) {
      if (!this.redrawingFixtures) {
        this.redrawingFixtures = true
        this._redrawFixtures(r)
        this.redrawingFixtures = false
      }
    },
    clearFixtures () {
      this.startLoading()
      for (let i=0; i< this.fixtures.length; i++) {
        let f = this.fixtures[i]
        f.fixture.setMap(null)
      }
      this.fixtures = []
      this.stopLoading()
    },
    clear () {
      this.showDrawer = false
      this.lastEventId = null
      this.infoWindows = []
      if (this.activeInfoWindow) {
        this.activeInfoWindow.close()
      }
    },
    selectMarker (m) {
      if (!this.loading) {
        this.showMarkerInfoWindow(m, true)
      }
    },
    placeEventMarker (lat, lon, id, doc) {
      let m = this.getMarker(lat, lon, this.getEventIcon(doc), this.getEventName(doc), id)

      m.addListener('click', () => {
        this.selectMarker(m)
      })

      let newObject = {
        type: doc.type,
        fixture: m,
        id: id,
        doc: doc,
        marker: m
      }
      this.fixtures.push(newObject)

      return m
    },
    updateFixtures () {
      this.clear()
      this.getEntities()
    },
    eventSelected (e) {
      this.panTo(e.doc.location.lat, e.doc.location.lon)
      this.showMarkerInfoWindow(e.marker, false)
    }
  },
  watch: {
    startDate (n) {
      this.dStartDate = n
      this.updateFixtures()
    },
    endDate (n) {
      this.dEndDate = n
      this.updateFixtures()
    },
    freeze (n) {
      this.disableEventsUpdate = n
    },
    loading (n) {
      this.disableEventsUpdate = n
    },
    showDrawer (n) {
      if (!n) {
        if (this.shouldGetEvents) {
          this.shouldGetEvents = false
          this.updateFixtures()
        }
      }
    }
  }
}
</script>

<style lang="scss">
.q-events-map {
  position: relative;
  width: 100%;
  height: 100%;

  .hidden {
    opacity: 0;
    pointer-events: none;
  }

  .click-disabled {
    pointer-events: none;
  }

  .top-left {
    position: absolute;
    top: 0;
    left: 0;
    margin: 8px 32px;
    width: 30%;
  }

  .top-right {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
  }

  .map-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: width 0.4s;
  }
  .map-background.drawer-opened {
    width: 60%;
  }

  .drawer {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    transition: width 0.4s;
    overflow: hidden;

    background-color: rgba(0,0,0,0.9);

    .icon {
      color: #fff;
      text-color: #fff;
      user-select: none;
    }.close-drawer{
      position: absolute;
      top: 0;
      right: 0;
      margin: 8px;
      cursor: pointer;
    }

    .events-list {
      height: 100%;
      padding: 1em 1.5em;
      box-sizing: border-box;
      overflow: hidden;
      overflow-y: auto;
      color: #888;

      > div {
        cursor: pointer;

        .media,
        .info {
          float: left;
          overflow: hidden;
        }
        .clear {
          clear: both;
        }
        .media {
          width: 32%;
          word-break: break-word;
          padding: 0 0.5em;
          box-sizing: border-box;
        }
        .info {
          width: 67%;

          > div {
            border-left : 2px solid #fff;
            padding-left: 1em;
          }
        }
      }
      > div:first-of-type {
        color: #fff;
        padding: 1em 0;
      }
      > div:hover,
      > div.active {
        color: #fff;
      }
    }
  }
  .drawer.opened {
    width: 40%;
  }

  .footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 32px;
    color: #111;
  }
}

.q-events-map.narrow {
  .drawer {
    width: 100%;
    height: 0%;
    right: 0;
    top: auto;
    bottom: 0;

    transition: height 0.4s;

    .icon.close-drawer{
      margin: 12px;
    }
  }
  .drawer.opened {
      width: 100%;
      height: 40%;
  }

  .events-list::-webkit-scrollbar {
    display: none;
  }

  .map-background {
    transition: height 0.4s;
  }

  .map-background.drawer-opened {
      width: 100%;
      height: 60%;
  }

  .events-list {
    padding-right: 40px;
    padding-top: 0;

    > h2 {
      display: none;
      /*
      color: #999;
      margin: 15px 0 0;
      font-size: 16px;
      */
    }

    > div {
      padding-top: 0;
      font-size: 90%;

      .media {
        width: 100%;
          border-bottom : 2px solid #fff;
      }
      .info {
        width: 100%;

        > div {
          border-left : none;
          padding-left: 0;

          h2 {
            font-size: 1.6em;
          }
        }
      }
    }

    -ms-overflow-style: none;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .8s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
