<template>
  <div v-if="show" class="conditional-rendering-element">
    <slot></slot>
  </div>
</template>

<script>

// Usage as custom element (script type="text/javascript")
//    (function(){
//        document.addEventListener('profileFetched', function() {
//          document.getElementById('{{instance.id_name}}').show = false;
//        });
//    })();


export default {
  name: 'ConditionalRenderingElement',
  props: {
    show: {
      type: Boolean,
      default: true
    }
  }
}
</script>
<style lang="scss">
@import "../../../scss/theme";

.conditional-rendering-element {
  overflow: hidden;
}
</style>
