<template>
  <div
    ref="container"
    class="user-top-bar-avatar mdc-menu-surface--anchor" >

    <div
      ref="picture"
      class="roundPicture"
      :style="pictureStyle"
      @click="clicked">

      <i class="material-icons" v-show="!userProfilePicture">
      person
      </i>
    </div>

    <div ref="menu"
      class="mdc-menu mdc-menu-surface" tabindex="-1">
      <ul class="mdc-list" role="menu" aria-hidden="true" aria-orientation="vertical">

        <li class="mdc-list-item static" role="menuitem" v-if="!hideLoginLinks && userProfile"
          @click="performLogout">
          <h4>{{tLogoutText}}</h4>
        </li>
        <li class="mdc-list-item static" role="menuitem" v-else-if="!hideLoginLinks && !userProfile"
          @click="performLogin">
          <h4>{{tLoginText}}</h4>
        </li>

        <!-- @slot Custom menu elements slot:
        <li class="mdc-list-item">..</li>-->
        <slot>
        </slot>

      </ul>
    </div>
  </div>
</template>

<script>
import LoginMixin from '@paiuolo/django-sso-app-vue-mixins/mixins/LoginMixin'
import LogoutMixin from '@paiuolo/django-sso-app-vue-mixins/mixins/LogoutMixin'

import FetchUserProfileMixin from '@paiuolo/django-sso-app-vue-mixins/mixins/FetchUserProfileMixin'
import UserProfileMixin from '@paiuolo/django-sso-app-vue-mixins/mixins/UserProfileMixin'

// import { MDCMenu, Corner } from '@material/menu/dist/mdc.menu'  // built
import { MDCMenu, Corner } from '@material/menu'

export default {
  name: 'UserTopBarAvatar',
  mixins: [
    LoginMixin,
    LogoutMixin,
    FetchUserProfileMixin,
    UserProfileMixin
  ],
  props: {
    /**
     * Login redirect url
     */
    loginUrl: {
      type: String,
      default: 'https://accounts.q-cumber.org/login/'
    },
    /**
     * Logout POST url
     */
    logoutUrl: {
      type: String,
      default: 'https://accounts.q-cumber.org/api/v1/auth/logout/'
    },
    userProfileUrl: {
      type: String,
      default: 'https://accounts.q-cumber.org/api/v1/auth/profile/'
    },
    hideLoginLinks: {
      type: Boolean,
      default: false
    },
    auto: {
      type: Boolean,
      default: false
    },
    backgroundColor: {
      type: String,
      default: null
    },
    loginText: {
      type: String,
      default: 'Login'
    },
    logoutText: {
      type: String,
      default: 'Logout'
    },
    rightAligned: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      menu: null
    }
  },
  mounted () {
    this.menu = new MDCMenu(this.$refs.menu)
    this.menu.setAnchorCorner(Corner.BOTTOM_LEFT)
    if (this.rightAligned) {
      this.menu.setAnchorMargin({
        top: 0,
        right: 0,
        bottom: 4,
        left: -64
      })
    }

    if (this.auto) {
      this.fetchUserProfile()
    }
  },
  computed: {
    pictureStyle () {
      let bgc = this.userProfile ? 'transparent' : '#0091EA'
      let style = {
        'background-color': this.backgroundColor || bgc
      }

      if (this.userProfilePicture) {
        style['background-image'] = 'url(\'' + this.userProfilePicture + '\')'
      }

      return style
    },
    tLoginText () {
      return this.gettext(this.loginText)
    },
    tLogoutText () {
      return this.gettext(this.logoutText)
    }
  },
  methods: {
    /** Open/close dropdown menu
    * @event click
    * @type {Event}
    */
    clicked () {
      this.menu.open = !this.menu.open
      if (this.menu.open) {
        this.$emit('menuOpened')
      } else {
        this.$emit('menuClosed')
      }
    }
  },
  watch: {
    userProfile (n) {
      if (n) {
        this.ssoUserId = n.sso_id
      }
    },
    auto (n) {
      if (n) {
        this.fetchUserProfile()
      }
    }
  }
}
</script>

<style lang="scss">
@import "../../../scss/theme";

$selected: #ff4081;

@import "@material/menu/mdc-menu";
@import "@material/menu-surface/mdc-menu-surface";

.user-top-bar-avatar {
  position: relative;
  display: inline-block;

  align-items: center;
  justify-content: center;
  cursor: pointer;

  ul, li {
    list-style-type: none;
    padding: 0;
    outline: none;
  }

  ul {
    margin: 0;
  }

  li > * {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
  }
  li.static > * {
    margin: 0;
    padding: 14px 0;
  }

  li.static{
    h4 {
      margin: 0;
      padding: 14px 0;
      font-weight: normal;
    }
  }

  li {
    overflow: hidden;

    a {
      overflow: hidden;
      text-decoration: none;
      color: #111;
    }
  }

  .roundPicture {
    text-align: center;

    width: 32px;
    height: 32px;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;

    @media (min-width: $break-phone){
      width: 48px;
      height: 48px;
    }

    .material-icons {
      color: #fff;

      font-size: 24px;
      line-height: 32px;

      @media (min-width: $break-phone) {
        font-size: 36px;
        line-height: 46px;
      }
    }
  }
  
  .segnala-top-button {
    width: 160px;
    padding: 24px 8px;
    text-align: center;

    > a {
      width: 100%;
      color: #333;
    }
  }
}
</style>
