<template>
  <div class="q2-events-map"
    ref="container"
    :class="{narrow: isNarrow || forceNarrow}" >

    <div class="map-background" ref="mapBackground" :class="{'drawer-opened': showDrawer}">
    <l-map
      v-if="showMap"
      ref="map"
      :zoom="mapZoom"
      :center="mapCenter"
      :options="mapOptions"
      style="height: 100%; z-index: 0;"
      @update:center="centerUpdate"
      @update:zoom="zoomUpdate"
      @ready="initUpdate"
    >
      <l-tile-layer :url="tileServerUrl" :attribution="attribution" />
      <l-layer-group 
        v-for="(eventType, eventTypeIndex) in eventTypesD"
        v-bind:key="eventTypeIndex"
        :ref="eventType">

        <!--<l-marker
          v-for="(fixture, fixtureIndex) in fixtures[eventType].fixtures"
          v-bind:key="fixtureIndex"
          :lat-lng="fixture.marker.latLng"
          :icon="fixture.marker.icon"
          :options="{
            fixture: fixture
          }"
          @click="selectMarker">
        </l-marker>-->

      </l-layer-group>
    </l-map>
    </div>

    <div class="top-left fade-enter-active"
      :class="{hidden: showDrawer}">
      <DateIntervalSlider
        ref="slider"
        :beginDate="dStartDate"
        :endDate="dEndDate"
        @callback="dateIntervalChanged"
        />
    </div>

    <div class="top-right fade-enter-active"
      :class="{hidden: (showDrawer || hideAvatar)}">
      <UserTopBarAvatar
        :external-user-profile="userProfile"
        right-aligned
      >
        <li class="mdc-list-item" role="menuitem">
            <h4 alt="open recent" style="width: 100%;"
              @click="showDrawer=true">
                <div>{{gettext('Recently viewed')}}</div>
            </h4>
        </li>
      </UserTopBarAvatar>
    </div>

    <div class="drawer"
      ref="drawer"
      :class="{'opened': showDrawer}">

      <i class="icon material-icons close-drawer"
        @click="showDrawer=false">
        close
      </i>

      <div class="events-list"
        ref="eventsList">

        <h2>{{gettext('Recently viewed')}}</h2>

        <div
          v-for="(el, key) in this.recentlyViewed"
          :key="key">
          <div class="event"
            @click="selectRecentEvent(el)">
            <div class="media">
              <h2><small>{{getEventDate(el)}}</small></h2>
            </div>
            <div class="info">
              <div>
                <h2>{{getEventName(el)}}</h2>
                <p>{{getEventText(el)}}</p>
              </div>
            </div>
            <div class="clear"></div>
          </div>

        </div>
      </div>

    </div>

    <div class="footer click-disabled">
      <LoadingBox
        dark
        v-if="loading">
        <p>{{gettext('loading')}}..</p>
      </LoadingBox>
    </div>

    <LoginRequiredMask
      v-if="!loading && !hideLoginMask"
      :already-logged-in="userProfile !== null"
      :login-url="loginUrl"
      />
  </div>
</template>

<script>
import moment from 'moment'
import { latLng } from "leaflet"

import DjangoSsoAppUserElementMixin from '@paiuolo/django-sso-app-vue-mixins/mixins/DjangoSsoAppUserElementMixin'

import UserEventsMixin from '../../../entities/event/UserEventsMixin'

import ErrorResponseMixin from '@paiuolo/pai-vue-mixins/mixins/ErrorResponseMixin'

import LeafletMapMixin from './LeafletMapMixin'

import LoadingBox from '../../loader/LoadingBox'
import LoginRequiredMask from '../../../entities/user/LoginRequiredMask'
import DateIntervalSlider from '../../slider/DateIntervalSlider'

import UserTopBarAvatar from '../../../entities/user/UserTopBarAvatar'


export default {
  name: 'Q2EventsMap',
  mixins: [
    UserEventsMixin,
    ErrorResponseMixin,

    LeafletMapMixin
  ],
  components: {
    LoadingBox,
    LoginRequiredMask,
    UserTopBarAvatar,
    DateIntervalSlider,
  },
  props: {
    auto: {
      type: Boolean,
      default: false
    },
    size: {
      type: [String, Number],
      default: 200
    },
    startDate: {
      type: String,
      default: 'now-3M'
    },
    hideAvatar: {
      type: Boolean,
      default: false
    },
    showAll: {
      type: Boolean,
      default: false
    },
    eventTypes: {
      type: String,
      default: 'qpost_verde,qpost_giallo,qpost_grigio,qpost_rosso,qpost_rosso_ticket,odour_alert'
    },
    hideLoginMask: {
      type: Boolean,
      default: false
    },
    forceNarrow: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      fixtures: {},

      recentlyViewed: [],
      showDrawer: false,

      elementWidth: 0,
      narrowBreakpoint: 640,
      isNarrow: false,

      showMap: false,
      selectingMarker: false
    }
  },
  mounted () {
    // init layers
    this.eventTypesD.forEach(eventType => {
      this.fixtures[eventType] = {
        'markers': L.markerClusterGroup({
          iconCreateFunction: function(cluster) {
            return L.divIcon({
              html: '<b>' + cluster.getChildCount() + '</b>',
              className: 'cluster cluster-' + eventType,
              iconSize: L.point(52, 52)
            })
          }
        }),
        'fixtures': []
      }
    })
    this.showMap = true

    window.addEventListener('resize', () => {
      this.resize()
    })

    this.$on('performingGetEntities', () =>{
      this.startLoading()
    })
    this.$on('getEntitiesSuccess', (r) => {
      this.stopLoading()
    })
    this.$on('getEntitiesError', (error) => {
      console.log('getEntitiesError', error)
      this.stopLoading()
    })

    this.$on('updating-bounds', () => {
      console.log('map bounds updating')
      this.startLoading()
      this.clear()
    })
    this.$on('bounds-updated', () => {
      console.log('map bounds updated')
      this.stopLoading()
      this.getEntities()
    })

    this.$nextTick(() => {
      this.resize()
    })
  },
  methods: {
    canGetEvents (obj) {
      return this.userProfile && !this.fetchingEvents && !this.mapUpdating
    },
    clear () {
      this.showDrawer = false
      this.eventTypesD.forEach(eventType => {
        this.fixtures[eventType].markers.clearLayers()
        this.fixtures[eventType].fixtures.splice(0, this.fixtures[eventType].fixtures.length)
      })
    },
    resize () {
      this.startLoading()

      let el = this.$refs.container

      if (el) {
        let w = el.clientWidth

        if (w != this.elementWidth) {
          this.elementWidth = w

          if (w <= this.narrowBreakpoint) {
            this.isNarrow = true
          } else {
            this.isNarrow = false
          }
        }
      }

      if (this.$refs.map) {
        this.$refs.map.mapObject.invalidateSize()
      }

      this.stopLoading()
    },
    dateIntervalChanged (d) {
      this.dStartDate = d[0]
      this.dEndDate = d[1]

      this.getEvents()
    },
    getEventIcon (doc) {
      let iconSize = [32, 46]
      if (doc.type == 'qpost_rosso_ticket') {
        iconSize = [39, 56]
      } else if (doc.type == 'odour_alert') {
        iconSize = [31, 32]
      } else if (doc.type == 'qpost_giallo') {
        iconSize = [46, 46]
      } else if (doc.type == 'qpost_grigio') {
        iconSize = [48, 48]
      }
      return L.icon({
        iconUrl: 'https://cdn.q-cumber.org/static/entities/' + doc.type + '/map/icon_small.png',
        iconSize: iconSize
      })
    },
    getEventName (e) {
      let n = this.gettext('Event')
      if (e.type === 'qpost_rosso') {
        return this.gettext('Qpost Rosso')
      } else if (e.type === 'qpost_rosso_ticket') {
        return this.gettext('Qpost Rosso (ticket)')
      } else if (e.type === 'qpost_grigio') {
        return this.gettext('Qpost Grigio')
      } else if (e.type === 'qpost_giallo') {
        return this.gettext('Qpost Giallo')
      } else if (e.type === 'qpost_verde') {
        return this.gettext('Qpost Verde')
      } else if (e.type === 'odour_alert') {
        return this.gettext('Odour Alert')
      }
      return n
    },
    getEventText (e) {
      return e.text || e.comment
    },
    getEventDate (e) {
      return moment.unix(e.timestamp).format('DD MMMM YYYY HH:mm')
    },
    getEventCondensedDate (e) {
      return moment.unix(e.timestamp).format('DD MM YY HH:mm')
    },
    redrawFixtures () {
      console.log('redrawFixtures')
      this.eventTypesD.forEach(eventType => {
        this.fixtures[eventType].fixtures = this.entities.map((event) => {
          let fixture = {...event.doc, ...{
              marker: {
                latLng: latLng(event.doc.location.lat, event.doc.location.lon),
                icon: this.getEventIcon(event.doc)
              }
            }
          }
          return fixture
        })

        this.fixtures[eventType].markers.clearLayers()

        this.fixtures[eventType].fixtures.forEach((fixture) => {
          let marker = L.marker(fixture.marker.latLng, {
            icon: fixture.marker.icon
          })
          marker.bindPopup(this.getEventName(fixture))
          this.fixtures[eventType].markers.addLayer(marker)
        })
        this.$refs.map.mapObject.addLayer(this.fixtures[eventType].markers);
      })

      if (this.selectingMarker) {
        console.log('enable selected')
        this.eventTypesD.forEach(eventType => {
          let selectedFixture = this.fixtures[eventType].fixtures.filter((el) => {
            return el.uuid == this.selectedMarkerId
          })
          console.log('selectedFixture', selectedFixture, this.$refs.map.mapObject._layers)

          let markers = this.$refs.map.mapObject._layers
          let selectedMarker = null
          for (let m_id in markers) {

            console.log('m', m_id, markers[m_id])
          }
          console.log('selectedMarker', selectedMarker)

          this.selectingMarker = false
        })
      }
    },
    selectMarker (m) {
      let selectedMarkerId = m.target.options.fixture.uuid
      if (selectedMarkerId != this.selectedMarkerId) {
        console.log('selects', m)
        this.selectedMarkerId = selectedMarkerId
        this.selectedMarkerLat = m.target.options.fixture.location.lat
        this.selectedMarkerLon = m.target.options.fixture.location.lon
        console.log('selects', this.selectedMarkerId, this.selectedMarkerLat, this.selectedMarkerLon)

        this.panTo(this.selectedMarkerLat, this.selectedMarkerLon)

        this.recentlyViewed.unshift(JSON.parse(JSON.stringify(m.target.options.fixture)))
      }
    },
    selectRecentEvent (e) {
      let selectedEventId = e.uuid
      if (selectedEventId != this.selectedMarkerId) {
        this.selectingMarker = true
        console.log('selectRecentEvent', e)
        this.selectedMarkerId = selectedEventId
        this.selectedMarkerLat = e.location.lat
        this.selectedMarkerLon = e.location.lon

        this.panTo(this.selectedMarkerLat, this.selectedMarkerLon)
      }
    }
  },
  watch: {
    startDate (n, o) {
      console.log('startDate', n, o)
      this.dStartDate = n
      this.getEvents()
    },
    endDate (n, o) {
      console.log('endDate', n, o)
      this.dEndDate = n
      this.getEvents()
    },
    showDrawer (n, o) {
      console.log('showDrawer', n, o)
      setTimeout(()=>{
        this.$refs.map.mapObject.invalidateSize()
      }, 300)
    },
    entities (n,o) {
      if (n) {
        console.log('entities updated', n, o)
        this.redrawFixtures()
      }

      //delete(this.activePopup)
      //this.activePopup = L.popup()
      //  .setLatLng(selectedFixture.marker.location)
      //  .setContent('<p><b>' + selectedFixture.marker.name + '</b><br />' + selectedFixture.marker.date + '</p>')
      //  .openOn(this.$refs.map.mapObject)
    },
    recentlyViewed (n, o) {
      this.showDrawer = true
    }
  }
}
</script>

<style lang="scss">
.q2-events-map {
  position: relative;
  width: 100%;
  height: 100%;

  .hidden {
    opacity: 0;
    pointer-events: none;
  }

  .click-disabled {
    pointer-events: none;
  }

  .top-left {
    position: absolute;
    top: 0;
    left: 0;
    margin: 8px 32px;
    width: 30%;
  }

  .top-right {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
  }

  .map-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: width 0.4s;

    .cluster {
      text-align: center;
      font-size: 20px;
      background-repeat: no-repeat;
      background-size: cover;

      b {
        line-height: 52px;
      }
    }
    .cluster.cluster-odour_alert {
      background-image: url('https://cdn.q-cumber.org/static/entities/odour_alert/map/cluster/m2.png');
    }
    .cluster.cluster-qpost_verde {
      background-image: url('https://cdn.q-cumber.org/static/entities/qpost_verde/map/cluster/m2.png');
    }
    .cluster.cluster-qpost_giallo {
      background-image: url('https://cdn.q-cumber.org/static/entities/qpost_giallo/map/cluster/m2.png');
    }
    .cluster.cluster-qpost_rosso {
      background-image: url('https://cdn.q-cumber.org/static/entities/qpost_rosso/map/cluster/m2.png');
    }
    .cluster.cluster-qpost_grigio {
      background-image: url('https://cdn.q-cumber.org/static/entities/qpost_grigio/map/cluster/m2.png');
    }
    .cluster.cluster-qpost_rosso_ticket {
      background-image: url('https://cdn.q-cumber.org/static/entities/qpost_rosso_ticket/map/cluster/m2.png');
    }
  }
  .map-background.drawer-opened {
    width: 60%;
  }

  .drawer {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 0%;
    transition: width 0.4s;
    overflow: hidden;

    background-color: rgba(0,0,0,0.9);

    .icon {
      color: #fff;
      text-color: #fff;
      user-select: none;
    }.close-drawer{
      position: absolute;
      top: 0;
      right: 0;
      margin: 8px;
      cursor: pointer;
    }

    .events-list {
      height: 100%;
      padding: 1em 1.5em;
      box-sizing: border-box;
      overflow: hidden;
      overflow-y: auto;
      color: #888;

      > div {
        cursor: pointer;

        .media,
        .info {
          float: left;
          overflow: hidden;
        }
        .clear {
          clear: both;
        }
        .media {
          width: 32%;
          word-break: break-word;
          padding: 0 0.5em;
          box-sizing: border-box;
        }
        .info {
          width: 67%;

          > div {
            border-left : 2px solid #fff;
            padding-left: 1em;
          }
        }
      }
      > div:first-of-type {
        color: #fff;
        padding: 1em 0;
      }
      > div:hover,
      > div.active {
        color: #fff;
      }
    }
  }
  .drawer.opened {
    width: 40%;
  }

  .footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 32px;
    color: #111;
  }
}

.q2-events-map.narrow {
  .drawer {
    width: 100%;
    height: 0%;
    right: 0;
    top: auto;
    bottom: 0;

    transition: height 0.4s;

    .icon.close-drawer{
      margin: 12px;
    }
  }
  .drawer.opened {
      width: 100%;
      height: 40%;
  }

  .events-list::-webkit-scrollbar {
    display: none;
  }

  .map-background {
    transition: height 0.4s;
  }

  .map-background.drawer-opened {
      width: 100%;
      height: 60%;
  }

  .events-list {
    padding-right: 40px;
    padding-top: 0;

    > h2 {
      display: none;
      /*
      color: #999;
      margin: 15px 0 0;
      font-size: 16px;
      */
    }

    > div {
      padding-top: 0;
      font-size: 90%;

      .media {
        width: 100%;
          border-bottom : 2px solid #fff;
      }
      .info {
        width: 100%;

        > div {
          border-left : none;
          padding-left: 0;

          h2 {
            font-size: 1.6em;
          }
        }
      }
    }

    -ms-overflow-style: none;
  }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .8s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
