<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/accounts">Accounts</router-link>
    </div>
    <router-view/>
  </div>
</template>

<script>

export default {
  name: 'app'
}
</script>

<style lang="scss">
#app {
  height: 100%;
  background-color: #00BEA4;
  padding: 0;
  color: #fff;
}

#nav {
  position: fixed;
  top: 0;
  z-index: 999;
}
a {
  color: #fff;
}
</style>
