$celeste: #73aeae;
/* $grigio: #455963; */
$grigio: #EBEEF0;
/* $selected: #ff4081; */
$selected: #FF3F80;
$grigio-scuro: #3e3e3e;
$break-phone: 480px;
$break-tablet: 840px;

$red: rgb(220, 53, 69);

$primary: #00BEA4;
$on-primary: #fff;
$secondary: $on-primary;
$on-secondary: #222;

@use "@material/theme" with (
  $primary: $primary,
  $secondary: $on-primary,
  $on-primary: $secondary,
  $on-secondary: $on-secondary,
);


@mixin accounts-font {
  font-family: Roboto, Lato, Arial, sans-serif;
}

@mixin accounts-no-margin {
  margin: 0;
  padding: 0;
}

@mixin accounts-error-text {
  color: $selected;
  font-weight: bold;
}

@mixin accounts-scrollable-container {
  overflow-y: auto;
}

@mixin accounts-link-style {
  font-weight: bold;
  color: $primary;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v41/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

@icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
