$primary: #63BA9E;
$secondary: #ff4081;
$on-primary: #fff;
$on-secondary: #fff;

$mdc-drawer-surface-fill-color: $primary;

$mdc-layout-grid-default-gutter: ( desktop: 0px, tablet: 0px, phone: 0px );
$mdc-layout-grid-default-margin: ( desktop: 0px, tablet: 0px, phone: 0px );

$selected: #ff4081;
$error: #F08080;

@use "@material/theme" with (
  $primary: $primary,
  $secondary: $on-primary,
  $on-primary: $secondary,
  $on-secondary: $on-secondary,
);

@import "./theme";
@import "./flexbox";

@mixin loyalty-font {
  font-family: 'Roboto', Arial, sans-serif;
}

@mixin loyalty-font-italic {
  font-family: 'Just Another Hand', cursive;
}

@mixin loyalty-entity-list-item {
  position: relative;
  background-color: #fafafa;
  padding: 0;
  margin-top: 24px;

  @include flexbox();
  @include flex-direction(row);

  .entity-detail {

    @include flex(1);
    @include flexbox();
    @include flex-direction(row);

    align-items: center;
    justify-content: center;

    .logo, .image {
      width: 124px;
      height: 154px;
      background-color: #fff;
      border: 8px solid #fff;
      background-repeat: no-repeat;
      background-size: auto;
      background-position-x: center;
      background-position-y: center;

      @media screen and (max-width: $break-tablet) {
        margin: auto;
        margin-top: 32px;
      }
    }

    .info {
      @include flex(1);

      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      padding: 16px;
      color: #333;

      h4 {
        color: #73aeae;
        margin: 0;
      }

      .item-slogan {
        img {
          max-width: 100%;
          max-height: 100%;
          display: block;
          margin: 0 auto;
        }
      }

      @media screen and (max-width: $break-tablet) {
        @include flex-direction(column);
        text-align: center;
      }
    }

    @media screen and (max-width: $break-tablet) {
      @include flex-direction(column);
      text-align: center;
    }
  }

  .tastiScelta {
    @include flexbox();
    @include flex-direction(row);
  }

  @media screen and (max-width: $break-tablet) {
    @include flex-direction(column);
  }
}
