@import "./loyalty.theme";

@import "@material/drawer/mdc-drawer";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/list/mdc-list";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/ripple/mdc-ripple";
@import "@material/menu/mdc-menu";
@import "@material/menu-surface/mdc-menu-surface";

body {
  background-color: #375864;
  color: #fff;
  font-family: Lato, Arial, sans-serif;
}

.mdc-typography {
  font-family: 'Lato', sans-serif;
}


.button {
  color: $mdc-theme-secondary;
  border: 2px solid $mdc-theme-secondary;
  border-radius: 4px;
  padding: 8px 12px 10px;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}
.button:hover {
  background-color: rgba(255, 64, 129, 0.05);
}
.button.dark {
  color: #fff;
  border: 2px solid #fff;
}
.button.dark:hover {
  background-color: rgba(255, 255, 255, 0.05);
  border-color: #ff4081;
  color: #ff4081;
}

.container{
  @media (min-width: 1024px) {
    width: 975px;
    margin-left: auto;
    margin-right: auto;
  }
}

#mainContent {
  background-color: #375864;
  color: #fff;

  main {
    padding-top: 64px;

    @media (max-width: 1024px) {
      padding-top: 56px;

      .container {
        padding: 0 24px;
      }
    }
  }
}

#drawer {
  .mdc-drawer__header {
    background-color: $mdc-theme-primary;
    text-align: center;
  }
  .mdc-list-item {
    text-transform: uppercase;
    color: #fff;
  }

  .mdc-list-item--activated {
    color: $mdc-theme-secondary;
  }

  .logo {
    margin: 24px auto;
  }
}

.mdc-top-app-bar {
  a {
    color: #fff;
  }

  .mdc-top-app-bar__title{
    padding-left: 0;
  }
  
  .menu {
    margin-right: 16px;

    a {
      /*color: #fff;*/
      text-transform: uppercase;
      text-decoration: none;
      margin-left: 16px;
      font-size: 14px
    }
    a.active {
      font-weight: bold;
      letter-spacing: 0.5px
    }
    
    @media (max-width: 1024px) {
      display: none
    }
  }

  .open-drawer {
    @media (min-width: 1024px) {
      display: none
    }
  }

  .topAppBarLogo {
    vertical-align: middle;
  }
}
