$break-phone: 480px;
$break-tablet: 840px;

html, body {
  margin: 0;
  padding: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,h1,h2,h3,h4,span,a,li {
  font-family: Roboto, Lato, Arial, sans-serif;
}

.clear {
  clear: both;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: bold;
}

.text-nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-center {
  text-align: center;
}

.white--text {
  color: #fff;
}

.red--text {
  color: #f44336;

  a {
    color: #f44336;
  }
}

.roundPicture {
  overflow: hidden;
  border-radius: 999px;
  background-repeat: no-repeat;
  background-size: cover;
}
