<template>
  <div
    ref="container"
    class="rumor-level-histogram"
    :class="{dark: dark, 'hide-icons': hideIcons}"
    >

    <LoadingBox
      v-if="loading && !hideLoader"
      class="loading-box">
    </LoadingBox>

    <LoginRequiredMask
      v-if="!hideLoginMask && !loading"
      :already-logged-in="userProfile !== null"
      :login-url="loginUrl" />

    <ErrorModal
      v-if="apiError || notAuthorized"
      opened
      :type="(notAuthorized || noResults) ? 'warning' : 'error'"
      :content="notAuthorized ? gettext('Service is not enabled') : noResults ? '' + subject + ' / ' + topic + '<br/>' + gettext('No results.') : gettext('Error contacting server, try later.')"
      @refresh="getEntities()" />

    <div class="chart-container">
      <div class="col">
      </div>
      <div class="col">
      <highcharts class="chart"
        v-if="showChart && chartOptions != null" ref="chart" :options="chartOptions"
        :callback="highchartsCallback"/>
      </div>
    </div>
  </div>
</template>

<script>
/**
 * RumorLevelHistogram
 * 
 */

// https://www.highcharts.com/docs/chart-and-series-types/histogram-series
import Highcharts from 'highcharts'
import histogrambellcurveInit from 'highcharts/modules/histogram-bellcurve'

import LoadingBox from '../../../elements/loader/LoadingBox'
import ErrorModal from '../../../elements/modal/ErrorModal'
import LoginRequiredMask from '../../user/LoginRequiredMask'

import UserRumorsMixin from '../UserRumorsMixin'
import RumorElementMixin from '../RumorElementMixin'

histogrambellcurveInit(Highcharts)

export default {
  name: 'RumorLevelHistogram',
  mixins: [
    UserRumorsMixin,
    RumorElementMixin
  ],
  components: {
    LoadingBox,
    LoginRequiredMask,
    ErrorModal
  },
  props: {
    showScattered: {
      type: Boolean,
      default: true
    },
    sfUrl: {
      type: String,
      default: 'https://pescatore.q-cumber.org/serverless-functions/rumor-level-trend/'
    },
    interval: {
      type: String,
      default: 'week'
    },
    size: {
      type: [String, Number],
      default: 0
    },
    start: {
      type: [String, Number],
      default: 0
    },
    asList: {
      type: Boolean,
      default: false
    },
    hideLoader: {
      type: Boolean,
      default: false
    },
    hideIcons: {
      type: Boolean,
      default: false
    },
    dark: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      hcInstance: Highcharts,  // https://github.com/highcharts/highcharts-vue (second way)
      collapseUrl: false,
      chartOptions: null
    }
  },
  methods: {
    getEntities () {
      // console.log('getEntities', this.licenseName)
      this.apiError = false
      this.notAuthorized = false

      if (this.userProfile) {
        this.xhrGetUrl = this.sfUrl + '?subject=' + this.subject
        this.xhrGetUrl += '&topic=' + this.topic

        if (this.useTimezone) this.xhrGetUrl += '&timezone=' + this.timezone
        if (this.interval) this.xhrGetUrl += '&interval=' + this.interval
        if (this.startDate) this.xhrGetUrl += '&from=' + this.normalizeDate(this.startDate)
        if (this.endDate) this.xhrGetUrl += '&to=' + this.normalizeDate(this.endDate)
        if (this.basinSlug) this.xhrGetUrl += '&basin_slug=' + this.basinSlug

        this.performXhrGet()

      } else {
        this.fetchUserProfile()
      }
    },
    parseEntities (data) {
      this.updateLicensesNames(data)

      return data['aggregations']['licenses']['buckets']
    },
    getChartOptions () { // returns Highcharts chart Object
      // let self = this

      let data = []

      for (let i=0; i<this.entities.length; i++) {
       let el = this.entities[i]

       if (el['key'] == this.selectedLicenseName) {
         // console.log('ANALYZING', el, this.selectedLicenseName)

         let basinSlug = el['basin_slug']['buckets'][0]['key']
         let indicator = this.getBasinIndicator(basinSlug)

         // let key = el['key']  // date bucket timestamp
         let el_buckets = el['by_interval']['buckets']
         let values = el_buckets.map((b)=>{
            return b[indicator]['value']
         })
         data = values
       }
      }

      let series = [{
          name: 'Count',
          type: 'histogram',
          binsNumber: 'square-root',
          xAxis: 1,
          yAxis: 1,
          baseSeries: 's1',
          zIndex: -1
      }, {
          name: 'Results',
          type: 'scatter',
          data: data,
          id: 's1',
          marker: {
              radius: 1.5
          }
      }]

      let _chartOptions = {
        title: {
            text: this.selectedLicenseName
        },

        subtitle: {
            text: this.subjectTitle + '/' + this.topicTitle
        },

        xAxis: [
          {
              title: { text: 'Results' },
              alignTicks: false,
              opposite: true
          },
          {
              title: { text: 'Count' },
              alignTicks: false
          }
        ],

        yAxis: [
          {
              title: { text: 'Results' },
              opposite: true
          }, {
              title: { text: 'Count' },
          }
        ],

        plotOptions: {
            histogram: {
                accessibility: {
                    pointDescriptionFormatter: function (point) {
                        var ix = point.index + 1,
                            x1 = point.x.toFixed(3),
                            x2 = point.x2.toFixed(3),
                            val = point.y;
                        return ix + '. ' + x1 + ' to ' + x2 + ', ' + val + '.';
                    }
                }
            }
        },

        series: series
      }

      return _chartOptions
    }
  },
  watch: {
    entities (n) {
      // console.log('entities changed', n)
      if (n) {
          let _chartOptions = this.getChartOptions()
          // console.log('ChartOptions', JSON.stringify(_chartOptions))
          this.chartOptions = _chartOptions
      }
    }
  }
}
</script>

<style lang="scss">
@import "../../../../scss/theme";

.rumor-level-histogram {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 96px;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: auto;
  color: #111;
  font-size: small;

  a {
    color: #111;
    text-decoration: underline;
  }

  .clear {
    box-sizing: border-box;
    padding: 16px 0;
    clear: both;
    text-align: center;
  }

}
.rumor-level-histogram.dark {
  color: #fff;
}
.rumor-level-histogram.hide-icons {

}
</style>
