<template>
  <svg xmlns="http://www.w3.org/2000/svg" 
    :width="width" 
    :height="height" 
    :viewBox="viewBox" 
    :aria-labelledby="iconName" 
    role="presentation"
  >
    <title :id="iconName" :lang="lang">{{iconName}}</title>
    <g :fill="iconColor">
      <slot />
    </g>
  </svg>
</template>

<script>
export default {
  props: {
    iconName: {
      type: String,
      default: 'box'
    },
    width: {
      type: [Number, String],
      default: 64
    },
    height: {
      type: [Number, String],
      default: 64
    },
    iconColor: {
      type: String,
      default: '#fff'
    },
    lang: {
      type: String,
      default: 'en'
    },
    viewBox: {
      type: String,
      default: '0 0 64 64'
    }
  }
}
</script>

<style scoped>
svg {
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: -4px; /* yes, I'm that particular about formatting */
}
</style>
